<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<script type="text/javascript" src="/media/js/3rdParty/scriptaculous/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/scriptaculous/scriptaculous.js"></script>
<script type="text/javascript" src="/media/js/shoppingcart.js"></script>
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}{{ user.get_profile.guistyle }}/css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block extrastyle %}{% endblock %}
{% block extrahead %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}
<script type="text/javascript">
// Used with all filebrowsers
var _fileBrowserSettings = {
	headerTitle: '{{ settings.FILE_BROWSER_HEADER_TITLE }}',
	rootTitle: '{{ settings.FILE_BROWSER_ROOT_TITLE }}',
	rootDataPath: '{{ settings.FILE_BROWSER_ROOT_DATA_PATH }}'
};
</script>
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block nav-global %}{% endblock %}
    </div>
    {% endif %}

	{% block toplevelmenu %}
	<!-- Youpi's main menu comes here -->
	<div class="toplevelmenu">
		<div class="logo">
		{% if user.is_authenticated %}
			{# and user.is_staff #}
			<div class="user">
			Logged in as <strong>{% if user.first_name %}{{ user.first_name|escape }}{% else %}{{ user.username }}{% endif %}</strong>
			{% block userlinks %}
				| <a href="/youpi/admin/password_change/">{% trans 'Change password' %}</a>
				{% if user.is_staff %} | <a href="/youpi/admin/">Admin</a>{% endif %}
				| <a href="/youpi/accounts/logout/">{% trans 'Log out' %}</a>
			{% endblock %}
	        </div>
			<div id="youpi_cart_id" style="float: right"></div>
			<script type="text/javascript">
					// Global cart
					var s_cart;
					s_cart = new ShoppingCart('youpi_cart_id', 's_cart');
			</script>
        {% endif %}
		<ul class="smart_tabnav">
		{% for entry in menu.normal %}
			{% ifequal entry.id selected_entry_id %}
			<li class="enabled"><a href="{{ entry.href }}" id="{{ entry.id }}">{{ entry.title }}</a></li>
			{% else %}
			<li class="disabled"><a href="{{ entry.href }}" id="{{ entry.id }}">{{ entry.title }}</a></li>
			{% endifequal %}
		{% endfor %}
		{% for entry in menu.apart %}
			{% ifequal entry.id selected_entry_id %}
			<li class="enabled_apart"><a href="{{ entry.href }}" id="{{ entry.id }}">{{ entry.title }}</a></li>
			{% else %}
			<li class="disabled_apart"><a href="{{ entry.href }}" id="{{ entry.id }}">{{ entry.title }}</a></li>
			{% endifequal %}
		{% endfor %}
		</ul>
</div>
	</div>
	{% endblock %}
	{% if messages %}
		<ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
	{% endif %}

	<!-- Content -->
	<div id="content" class="{% block coltype %}colM{% endblock %}">
		{% block pretitle %}{% endblock %}
		{% block content %}
			{% block object-tools %}{% endblock %}
			{{ content }}
		{% endblock %}
		{% block sidebar %}{% endblock %}
		<br class="clear" />
	</div>
	<!-- END Content -->

	{% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
