{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }} | {% trans 'Youpi users' %}{% endblock %}

{% block branding %}
{% if Debug %}
{# Show API links #}
<!--
<div class="apidoc">
	<i>Project API documentation</i>: <a href="/youpi/api/python/" target="_blank">Python</a> - <a href="/youpi/api/javascript/" target="_blank">Javascript</a>
</div>
{% endif %}

<div style="float:left;"><font color="white">Youpi<br></font><font COLOR="lightblue">YOUr processing PIpeline</font></div>
 <div align="right"><font color="white">TERAPIX</font><br><font color="lightblue">Institut d'astrophysique de Paris</font></div>
 -->
{% endblock %}

{% block nav-global %}{% endblock %}
