{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/tooltip.css"/>
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/advancedtable.js"></script>
<script type="text/javascript" src="/media/js/condorpanel.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
var sb;

function show_save_current_selection() {
	sb = new DropdownBox('sb', 'save_sel_div', 'Save current selection');
	var csb = sb.getContentNode();
	var l = document.createElement('label');
	l.appendChild(document.createTextNode('Save as '));
	csb.appendChild(l);

	var name = document.createElement('input');
	name.setAttribute('id', 'selection_save_input');
	name.setAttribute('style', 'margin-right: 10px;');
	name.setAttribute('type', 'text');
	csb.appendChild(name);

	name = document.createElement('input');
	name.setAttribute('id', 'selection_save_input');
	name.setAttribute('style', 'margin-right: 10px;');
	name.setAttribute('type', 'button');
	name.setAttribute('value', 'Save!');
	name.setAttribute('onclick', "condorPanel.saveCurrentNodeSelection(document.getElementById('selection_save_input').value, function() { condorPanel.showSavedSelections('saved_sel_div'); });");
	csb.appendChild(name);

	var k = document.createElement('div');
	k.setAttribute('id', 'custom_sel_save_log_div');
	csb.appendChild(k);
}

</script>
{% endblock %}

<!-- Main body -->
{% block content %}
<div>
	<ul class="smart_tabnav_sub" id="menu">
		<li class="enabled">
			<a 	href="#" id="entry_0" 
				onclick="swap_display(this.id, 'menuitem_sub_0', 'menu', 'menuitem_sub_');">Requirements</a>
		</li>
	</ul>
	<div align="center" style="width: 100%" id="menuitem_sub_0">
		<div style="margin-top: 40px;" align="center">
			<table style="width: 90%;">
				<tr>
					<td style="border: none; width: 50%;">
						<h1 style="border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">Available Cluster Nodes</h1>
						<div id="condor_panel_div"></div>	
					<td>
					<td style="border: none;">
						<h1 style="border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">Custom policies</h1>
						<div class="tip" style="width: 80%;">Custom policies are <b>dynamic rules</b> you can define in the form below. The thing is that 
						no cluster node selection is done at this time. Those policies will be applied just before job execution on the cluster. This way, the 
						resulting node selection will depend on the cluster's real-time status.</div> 
						<div id="saved_pol_div" style="margin-bottom: 10px;"></div>	
						<div id="policy_div"></div>						
						
						<h1 style="margin-top: 20px; border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">
						Custom selections</h1>
						<div class="tip" style="width: 80%;">Custom selections are made of <b>static nodes</b> selected among the available nodes showed in the 
						list on the left.</div>
						<div id="saved_sel_div" style="margin-bottom: 10px;"></div>	
						<div id="save_sel_div">	
						<!--
							-->
						</div>						
					<td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	var pb = new DropdownBox('pb', 'policy_div', 'Add a policy');
	pb.getContentNode().appendChild(document.createTextNode('todo...'));

	show_save_current_selection();

	var condorPanel = new CondorPanel('condor_panel_div', 'condorPanel');
	var pol = condorPanel.getCustomPolicies();
	if (!pol)
		document.getElementById('saved_pol_div').innerHTML = 'No saved policy at this time';

	var sel = condorPanel.showSavedSelections('saved_sel_div', true, function() { condorPanel.render(); }, true);

	{# Auto-completion stuff #}
	try {
		var options = {
			script: '/youpi/autocompletion/CondorSavedSelections/',
			varname: 'Value',
			json: true,
			maxresults: 10,
			timeout: 2000
		};
		var as = new _bsn.AutoSuggest('selection_save_input', options);
	} catch(e) {}
</script>
{% endblock %}
