{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/tooltip.css"/>
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/advancedtable.js"></script>
<script type="text/javascript" src="/media/js/condorpanel.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

<!-- Main body -->
{% block content %}
<div>
	<ul class="smart_tabnav_sub" id="menu">
		<li class="enabled">
			<a 	href="#" id="entry_0" 
				onclick="swap_display(this.id, 'menuitem_sub_0', 'menu', 'menuitem_sub_');">Requirements</a>
		</li>
	</ul>
	<div align="center" style="width: 100%" id="menuitem_sub_0">
		<div style="margin-top: 40px;" align="center">
			<table style="width: 90%;">
				<tr>
					<td style="border: none; width: 50%;">
						<h1 style="border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">Available Cluster Nodes</h1>
						<div id="condor_panel_div"></div>	
					<td>
					<td style="border: none;">
						<h1 style="border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">Custom policies</h1>
						<div class="tip" style="width: 80%;">Custom policies are <b>dynamic rules</b> you can define in the form below. The thing is that 
						no cluster node selection is done at this time. Those policies will be applied just before job execution on the cluster. This way, the 
						resulting node selection will depend on the cluster's real-time status.</div> 
						<div id="saved_sel_div"></div>	
						<h1 style="margin-top: 20px; border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">
						Custom selections</h1>
						<div class="tip" style="width: 80%;">Custom selections are made of <b>static nodes</b> selected among the available nodes showed in the 
						list on the left.</div>
						<div id="custom_sel_div"></div>	
					<td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	var condorPanel = new CondorPanel('condor_panel_div', 'condorPanel');
	condorPanel.renderCustomPolicies('custom_sel_div');
	condorPanel.renderSavedSelections('saved_sel_div');
	condorPanel.render();
</script>
{% endblock %}
