{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block extrahead %}
<!-- Menu handling -->
{% compressed_css 'default' %}
{% compressed_js 'imageinfo' %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="submenu">
	<div id="menuitem_sub_0">
		<div class="prefs_condor">
			<h1>Generated .head file for image {{ img.name }}</h1>
			{% if hasHeader %}
				{% if missing %}
				<div class="warning" style="width: -moz-fit-content;">
					<p>Missing keywords (defined as +KEYWORD in the ITT but not found<br/>
					in image, thus not copied to the generated .head file below):
						<ul>{% for kw in missing %}<li>{{ kw }}</li>{% endfor %}</ul>
					</p>
				</div>
				{% endif %}
			<div style="width: 70%; padding-left: 15px; color: white; background-color: black; text-align: left; height: 500px; overflow: auto;">
				<pre>{{ rawHeader }}</pre>
			</div>
			{% else %}
			<div class="tip" style="width: -moz-fit-content;">
				<p>No .head data available. Most probably this image is using an ITT file without any keyword translations.<br/>
				Youpi does not need to generate a .head file for this image to be processed successfully.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<script type="text/javascript">
	var menu, panel;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Image Information']);
	});
</script>
{% endblock %}
