{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="submenu">
	<div id="menuitem_sub_0">
		<div class="prefs_condor">
			<h1>Generated .head file for image {{ img.name }}</h1>
			{% if hdrdata %}
			<div style="width: 70%; padding-left: 15px; color: white; background-color: black; text-align: left; height: 500px; overflow: auto;">
				<pre>
			{% for j in exts %}{% for k, v in hdrdata.items %}
{{ k }} = {{ v }}{% endfor %}
END{% endfor %}
				</pre>
			</div>
			{% else %}
			<div class="tip" style="width: -moz-fit-content;">
				<p>No .head data available. Most probably this image is using an ITT file without any keyword translations.<br/>
				Youpi does not need to generate a .head file for this image to be processed successfully.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<script type="text/javascript">
	var menu, panel;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Image Information']);
	});
</script>
{% endblock %}
