<HEAD></HEAD>
{% extends "base_site.html" %}
{% load i18n %}


{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"></script>
<script language="javascript" type="text/javascript" src="/media/js/javascript.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/common.js"></script>
<!-- Menu handling -->
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/prototype/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/bramus/jsProgressBarHandler.js"></script>
<script type="text/javascript" src="/media/js/homeindex.js"></script>


<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="pre_submenu">
				<ul class="smart_tabnav_sub" id="tabnav2">
					<li class="enabled"><a href="#" id="link_global" onclick="swap_display(this.id, 'menuitem_global', 'tabnav2', 'menuitem_');">Global Informations</a></li>
				</ul>
	</div>
	 <div style="margin-top: 40px;" align="center">
            <table style="width: 90%;">
                <tr>
                    <td style="border: none; width: 50%;">
                        <h1 style="border-bottom: 1px solid lightgray; padding-bottom: 7px; margin-bottom: 20px; white-space: nowrap;">User Account : {{user.first_name}}  {{user.last_name}}</h1>
                        <div id="user_info"></div>
                        <div id="survey"></div>
                        <div id="instrument" style="display:none;"></div>
                    <td style="border: none;">
				</tr>
			</table>
	</div>
	



	<script type="text/javascript">
function show_global_user_info() {
	su = new DropdownBox('su','user_info', 'Display account');
	sus = new DropdownBox('sus','survey', 'Display survey');
	sui = new DropdownBox('sui','instrument', 'Display related instrument');
	var user_id = {{user.id}};
	su.setOnClickHandler( function (){get_db_info(user_id);});
	}

function get_db_info(user_id) {
    var xhr = new HttpRequest(
        null,
        null,
        function(resp) {
			var n = resp['data']['user_info'];
			su.getContentNode().appendChild(document.createTextNode(n))
			
        }
    );
	var post =  'user_id='+ user_id;
    // Send HTTP POST request
    xhr.send('/youpi/newindex/', post);
}
show_global_user_info();
	</script>

{% endblock %}
	
</body>
