{% extends "base_site.html" %}
{% load i18n %}
{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"></script>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/bramus/jsProgressBarHandler.js"></script>
<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

function ingestion_stats() {
	var container = $('stats_ingestion_div');
	var xhr = new HttpRequest(
		container,
		// Use default error handler
		null,
		// Custom handler for results
		function(resp) {
			container.update();
			container.hide().appear();

			if (resp.error) {
				container.update(resp.error);
				return;
			}
			var tab = new Element('table').addClassName('ingestedImages');
			var tr, td, span;

			tab.insert(get_separator('Instruments'));
			resp.info.totalPerInstrument.each(function(entry) {
				tab.insert(get_stat_line('p_' + entry.instrument, entry.percent, entry.instrument, entry.count));
			});

			tab.insert(get_separator('Filters'));
			// Per filter (channel)
			resp.info.imgsPerChannel.each(function(entry) {
				tab.insert(get_stat_line('p_' + entry.channel, entry.percent, entry.channel, entry.count));
			});

			tab.insert(get_separator('Total'));
			// Total
			tr = new Element('tr');
			td = new Element('td');
			span = new Element('span', {id: 'ingestion_total_span'}).addClassName('progressBar');
			span.custom = new Object();
			span.custom.percent = 100;
			span.update(0);
			td.insert(span);
			tr.insert(td);

			td = new Element('td').addClassName('name').update('Total');
			tr.insert(td);

			td = new Element('td').addClassName('count').update(resp.info.totalImages);
			tr.insert(td);
			tab.insert(tr);
			container.insert(tab);

			$$('table.ingestedImages span.progressBar').each(function(span) {
				var pb = new JS_BRAMUS.jsProgressBar(span, 0);
				pb.setPercentage(span.custom.percent);
			});
		}
	);

	// Send HTTP POST request
	xhr.send('/youpi/stats/ingestion/');
}

function get_stat_line(pbar_id, pbar_value, title, total) {
	var tr, td, span;
	// Adds progress bars
	tr = new Element('tr');
	td = new Element('td');
	span = new Element('span', {id: pbar_id}).addClassName('progressBar');
	span.custom = new Object();
	span.custom.percent = Math.round(pbar_value*10)/10;
	span.update(0);
	td.insert(span);
	tr.insert(td);

	// Kind
	td = new Element('td').addClassName('name').update(title);
	tr.insert(td);

	// Count
	td = new Element('td').addClassName('count').update(total);
	tr.insert(td);

	return tr;
}

function get_separator(title) {
	var tr, td, span;
	// Adds progress bars
	tr = new Element('tr').addClassName('separator');
	td = new Element('td', {colspan: 3});
	td.update(title);
	tr.insert(td);

	return tr;
}

function processing_stats() {
	var container = $('stats_processing_div');
	var xhr = new HttpRequest(
		container,
		// Use default error handler
		null,
		// Custom handler for results
		function(resp) {
			container.update();
			container.hide().appear();

			if (resp.error) {
				container.update(resp.error);
				return;
			}
			var tab = new Element('table').addClassName('processing');
			var tr, td, span;

			tab.insert(get_separator('Kind'));
			resp.info.tasksPerKind.each(function(entry) {
				tab.insert(get_stat_line('p_' + entry.kind, entry.percent, entry.kind, entry.count));
			});

			tab.insert(get_separator('Total'));
			var failed_per =  resp.info.failedTasks*100/resp.info.tasksTotal;
			tab.insert(get_stat_line('processing_failed_span', failed_per, 'Failed', resp.info.failedTasks));
			tab.insert(get_stat_line('processing_success_span', 100 - failed_per, 'Success', resp.info.tasksTotal - resp.info.failedTasks));
			tab.insert(get_stat_line('processing_total_span', 100, 'Total', resp.info.tasksTotal));

			container.insert(tab);

			$$('table.processing span.progressBar').each(function(span) {
				var pb;
				if (span.id.include('failed'))
					pb = new JS_BRAMUS.jsProgressBar(span, 0, {barImage: '/media/js/3rdParty/progressbar/images/bramus/percentImage_back4.png'});
				else if(span.id.include('success'))
					pb = new JS_BRAMUS.jsProgressBar(span, 0, {barImage: '/media/js/3rdParty/progressbar/images/bramus/percentImage_back1.png'});
				else
					pb = new JS_BRAMUS.jsProgressBar(span, 0);
				pb.setPercentage(span.custom.percent);

			});
		}
	);

	// Send HTTP POST request
	xhr.send('/youpi/stats/processing/');
}

</script>
{% endblock %}

{% block content %}
<div id="pre_submenu">
	<ul class="smart_tabnav_sub" id="tabnav2">
		<li class="enabled"><a href="#" id="link_global" onclick="swap_display(this.id, 'menuitem_sub_0', 'tabnav2', 'menuitem_');">Global Informations</a></li>
	</ul>
</div>
<div id="menuitem_sub_0" class="home" style="margin-top: 10px;">
	<table style="width: 100%">
		<tr>
			<td>
				<div class="themes">
					<h1>Ingested Images</h1>
					<div id="stats_ingestion_div"></div>
				</div>
			</td>
			<td>
				<div id="ingested_div" class="themes">
					<h1>Processing tasks</h1>
					<div id="stats_processing_div"></div>
				</div>
			</td>
		<tr>
	<table>
</div>

<script type="text/javascript">
	// Progress bar default options
	defaultOptions.boxImage = '/media/js/3rdParty/progressbar/images/bramus/percentImage.png';
	defaultOptions.barImage = '/media/js/3rdParty/progressbar/images/bramus/percentImage_back1.png';
	defaultOptions.height = 10;
	defaultOptions.animate = false;

	document.observe('dom:loaded', function() {
		ingestion_stats();
		processing_stats();
	});
</script>
{% endblock %}
