<HEAD></HEAD>
{% extends "base_site.html" %}
{% load i18n %}


{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"></script>
<script language="javascript" type="text/javascript" src="/media/js/javascript.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/common.js"></script>
<!-- Menu handling -->
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/prototype/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/bramus/jsProgressBarHandler.js"></script>
<script type="text/javascript" src="/media/js/homeindex.js"></script>


<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

function  setup(param) {

	var post = '';

	var value = document.getElementById(param + '_input').value;

	if (param == 'create_survey') {
		post += '&Survey=' + value;
		}

	else if (param == 'create_instrument') { 
		select = document.getElementById('select_survey_list').selectedIndex;
		survey = document.getElementById('select_survey_list').options[select].text;
		post += '&Survey=' + survey + '&Instrument=' + value;
		}
	
	else if(param == 'create_release') {
		select1 = document.getElementById('select_survey_list').selectedIndex;
		survey = document.getElementById('select_survey_list').options[select1].text;

		select2 = document.getElementById('select_instrument_list').selectedIndex;
		instrument = document.getElementById('select_instrument_list').options[select2].text;
		post +=  '&Survey=' + survey + '&Instrument=' + instrument + '&Release=' + value;
		}


    var xhr = new HttpRequest(
            null,
            null,   
            // Custom handler for results
            function(resp) {

				var log = new Logger(param + '_log');
				log.clear();
				if (resp['Error'].length) {
					log.msg_error(resp['Error']);
					return;
				}
				if (resp['Warning'].length) {
					log.msg_warning(resp['Warning']);
					return;
				}
				else {
					log.msg_ok('OK : '+ param + ' saved...');
					if (param == 'create_survey') {
						document.getElementById('create_instrument').setAttribute('style','display:block');
						//Add option node based on the related created_element input
						select = document.getElementById('select_survey_list');
						option = document.createElement('option');
						option.innerHTML = value;
						select.appendChild(option);

						}
					else if (param == 'create_instrument') {
						document.getElementById('create_release').setAttribute('style','display:block');
						select = document.getElementById('select_instrument_list');
						option = document.createElement('option');
						option.innerHTML = value;
						select.appendChild(option);
					}
					else if (param == 'create_release') {
						select = document.getElementById('select_release_list');
						option = document.createElement('option');
						option.innerHTML = value;
						select.appendChild(option);
					}
				}
			}
    );

    post += '&Param=' + param + '&Value=' + value;
    xhr.send('/youpi/newindex/', post);
}


function kselect(param) {
	
	var post = '';
	if (param == 'select_survey_list') {
		s = document.getElementById('select_survey_list').selectedIndex;
		name = document.getElementById('select_survey_list').options[s].text;
		}
	else if (param == 'select_instrument_list') {
	        s = document.getElementById('select_instrument_list').selectedIndex;
			name = document.getElementById('select_instrument_list').options[s].text;
			}

    var xhr = new HttpRequest(
            null,
            null,   
            // Custom handler for results
            function(resp) {

				var log = new Logger(param + '_log');
				log.clear();
				if (resp['Error'].length) {
					log.msg_error(resp['Error']);
					return;
				}
				if (resp['Warning'].length) {
					log.msg_warning(resp['Warning']);
					return;
				}
				else {
					if (param == 'select_survey_list') {
						list_instrument = resp['list_instrument'];
						select = document.getElementById('select_instrument_list');
						document.getElementById('or2').setAttribute('style' , 'display:block');
						document.getElementById('select_instrument').setAttribute('style' , 'display:block');
						document.getElementById('create_instrument').setAttribute('style' , 'display:block');
						document.getElementById('instrument_text').innerHTML = 'Add instrument for survey : <B> ' + name + '</B>';
						for (var i = 0 ; i < list_instrument.length ; i++) {
							var option = document.createElement('option');
							option.innerHTML = list_instrument[i];
							select.appendChild(option);
							}
					}
					if (param == 'select_instrument_list') {
						list_release = resp['list_release'];
						select = document.getElementById('select_release_list');
						document.getElementById('or3').setAttribute('style' , 'display:block');
						document.getElementById('select_release').setAttribute('style' , 'display:block');
						document.getElementById('create_release').setAttribute('style' , 'display:block');
						document.getElementById('release_text').innerHTML = 'Add release for instrument : <B> ' + name + '</B>';
						for (var i = 0 ; i < list_release.length ; i++) {
							var option = document.createElement('option');
							option.innerHTML = list_release[i];
							select.appendChild(option);
							}
					}

				}
			}
    );
    post += '&Param=' + param + '&Value=' + name;
    xhr.send('/youpi/newindex/', post);
}


</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
	<div id="pre_submenu">
		<ul class="smart_tabnav_sub" id="tabnav2">
			<li class="enabled"><a href="#" id="link_global" onclick="swap_display(this.id, 'menuitem_sub_0', 'tabnav2', 'menuitem_');">Global Informations</a></li>
		</ul>
	</div>
	<div id="menuitem_sub_0" style="margin-top: 40px;" align="center">
		<div align="center" class="homepage">
			<div>
				<div id="create_survey">
					Add survey :
					<input type="text" size="20" id="create_survey_input"></input>
					<input type="button" value="add!" id="add_survey_button" onclick="setup(this.parentNode.id);"></input>
					<div id="create_survey_log"></div>
				</div>
				<div id="or1">or</div>

				<div id="select_survey">
				choose survey from list :	
					<select  id="select_survey_list">
					{% for i in list_survey %}
						<option> {{ i }} </option>
					{% endfor %}
					</select>
					<input type="button" value="Use it!" id="choose_survey" onclick="kselect('select_survey_list');"></input>
					<div id="select_survey_list_log"></div>
				</div>
			</div>
			<HR width="30%" size="2" align="center">
			<div>
				<div id="create_instrument" style="display:none">
					<div id="instrument_text"></div>
					<input type="text" size="20" id="create_instrument_input"></input>
					<input type="button" value="add!" id="add_instrument_button" onclick="setup(this.parentNode.id);"></input>
					<div id="create_instrument_log"></div>
				</div>

				<div id = "or2" style="display:none">or</div>

				<div id="select_instrument" style="display:none">
				choose instrument from list :
					<select  id="select_instrument_list">
					</select>
					<input type="button" value="Use it!" id="choose_instrument" onclick="kselect('select_instrument_list');"></input>
					<div id="select_instrument_list_log"></div>
				</div>
			</div>
			<HR width="30%" size="2" align="center">
			<div>
				<div id="create_release" style="display:none">
					<div id="release_text"></div>
					<input type="text" size="20" id="create_release_input"></input>
					<input type="button" value="add!" id="add_release_button" onclick="setup(this.parentNode.id);"></input>
					<div id="create_release_log"></div>
				</div>

				<div id = "or3" style="display:none">or</div>

				<div id="select_release" style="display:none">
				choose release from list :
					<select  id="select_release_list">
					</select>
					<input type="button" value="Use it!" id="choose_release" onclick="kselect('select_release_list');"></input>
					<div id="select_release_list_log"></div>
				</div>
			</div>
			<HR width="30%" size="2" align="center">
		</div>
	</div>
	
{% endblock %}
	
</body>
