{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/history.css"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"></script>
<script type="text/javascript" src="/media/js/menu.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>

<!-- Javascript treeview -->
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/tafelTree/css/tree.css"/>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/Tree.js"></script>

<!-- Tooltip code -->
<script type="text/javascript" src="/media/js/tooltip.js"></script>
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/tooltip.css"></script>

<!-- Ingestion-related Javascript code -->
<script type="text/javascript" src="/media/js/ingestion.js"></script>
<script type="text/javascript" src="/media/js/filebrowser.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
var gready = true;

{% if perms.youpi.can_view_ing_logs %}
function ingestion_history() {
	/*
	 * Arg 1: container id
	 * Arg 2: select id (for limiting results)
	 * Arg 3: path to server-side script for async Ajax query
	 *
	 */
	queryUrlDisplayAsTable('div_result', 'select_history_limit', '/youpi/history/ingestion/');
}
{% endif %}

function updateContent(container, handler) {
	var handler = typeof handler == 'function' ? handler : null;
	var sel = $('itt_select');
	var xhr = new HttpRequest(
		null, // Use default error handler
		null, // Custom handler for results
		function(resp) {
			var data = $H(resp.content);
			var tab = new Element('table').addClassName('itt_table');
			var tr, td;
			data.each(function(pair) {
				if (pair.key == '+COPY') return;
				tr = new Element('tr');
				td = new Element('td').update(pair.key + ';');
				tr.insert(td);
				var vals = $H(pair.value);
				// Second col (mandatory)
				td = new Element('td');
				td.update(vals.get('SRC') + ';');
				tr.insert(td);
				// Third col (optional)
				td = new Element('td');
				td.update(vals.get('MAP'));
				tr.insert(td);
				tab.insert(tr);
			});
			// Add keywords copy at the end of table
			data.each(function(pair) {
				if (pair.key == '+COPY') {
					pair.value.each(function(kw) {
						tr = new Element('tr').addClassName('keyword_copy');
						td = new Element('td').update('+' + kw);
						tr.insert(td);
						td = new Element('td', {colspan: 2}).update('Keyword copy');
						tr.insert(td);
						tab.insert(tr);
					});
				}
			});
			var content = new Element('pre').addClassName('itt_content');
			content.update("--------- Youpi Parameters for the " + resp.instrument + " Instrument ------------").insert(tab);
			container.update(content);
			if (handler) handler();
		}
	);
	var post = { Instrument: sel.options[sel.selectedIndex].value }
	xhr.send('/youpi/ingestion/itt/content/', $H(post).toQueryString());
}
</script>
{% endblock %}

<!-- Main body -->
{% block content %}
<div id="submenu">
	<div style="width: 100%; margin: auto;" id="menuitem_sub_0">
		<table class="preingestion">
			<tr>
				<td>
				{% if not perms.youpi.can_submit_jobs %}
					<div class="perm_not_granted" style="margin-top: 20px; margin: auto; width: -moz-fit-content">
						<label>You don't have permission to run ingestions on the cluster</label>
					</div>
				{% endif %}
					<p class="number_ingested">Number of ingested Images: {{ ingested }}</p>
				</td>
			</tr>
			<tr id="data">
				<td align="center">
					<div id="menuitem_ingest">
						<form id="form_ingestion" name="form_ingestion" method="post" onsubmit="return process_form();">
							<table>
								<tr>
									<td>
										<div id="ingestion" style="float: left; height: 200px; width: 400px"></div>
									</td>
									<td>
										<div style="width: 600px">
											<table class="flatmask">
												<tr>
													<td class="ingestion_type" colspan="2">Ingestion parameters and options</td>
												</tr>
												<tr>
													<th>Ingestion Translation Table</th>
													<td style="vertical-align: middle">
														<select id="itt_select" name="transtable">
														{% for itt in itranstables %}
														<option value="{{ itt }}">{{ itt }}</option>
														{% endfor %}
														</select>
														<input id="itt_view_button" type="button" value="Show"/>
														<input id="itt_raw_button" type="button" value="Show ITT raw content"/>
														<div id="itt_content_div"></div>
													</td>
												</tr>
												<tr>
													<th>Ingestion ID</th>
													<td><input id="input_ingestion_id" type="text" name="ingestion_id" size="50"/></td>
												</tr>
												<tr>
													<th>Send report to</th>
													<td><input id="input_email" type="text" name="report_email" value="{{ user.email }}" size="50"/></td>
												</tr>
												<tr>
													<th>Options</th>
													<td width="100%">
														<label>All images will be ingested with the flag :</label>
														<select id="select_validation" onclick="force_validation();"/>
															<option name="V" id="validated" value="yes">VALIDATED</option>
															<option name="O" id="observed" value="no">OBSERVED</option>
														</select>
														<div style="width: 90%">
															<div id ="warn0" class="warning" style="display: none;"></div>
														</div><br/>
														<input id="check_verify" onclick="force_fitsverify()" type="checkbox" name="check_skip_fitsverify" value="yes" checked="checked"/>
														<label>Skip ingestion for non FITS compliant images</label>
														<div style="width: 90%">
															<div id ="warn1" class="warning" style="display: none;"></div>
														</div><br/>
														<input id="check_allow_several_times" onclick="force_check_allow_several_times()" type="checkbox" name="check_several_ingestions" value="yes" checked="checked"/>
														<label>Allow images with the same name (and same checksum) to be re-ingested</label>
														<div style="width: 90%">
															<div align="center" id="warn2" class="warning" style="display: none;"></div> 
														</div>
													</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
								<tr>
									<td/>
									<td>
										<div id="cluster_log_div" style="margin-top: 30px;"></div>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div style="width: 100%; display: none;" id="menuitem_sub_1">
	{% if not perms.youpi.can_view_ing_logs %}
		<div style="margin-top: 5px">
			<div class="perm_not_granted" style="margin: auto; width: -moz-fit-content">
				<label>You don't have permission to view ingestion logs</label>
			</div>
		</div>
	{% else %}
		<table width="100%">
			<tr>
				<td style="text-align: left">
					<p>History of ingestions (<a href="#" onclick="ingestion_history();">refresh</a>):</p>
				</td>
				<td style="text-align: right">
					<span>Display 
						<select id="select_history_limit" onchange="ingestion_history();">
							<option value="0">all results</option>
							<option value="10" selected="true">last 10 results</option>
							<option value="20">last 20 results</option>
							<option value="50">last 50 results</option>
						</select>
					</span>
				</td>
			</tr>
		</table>
		<div align="center" id="div_result"></div>
	{% endif %}
	</div>
</div>

<script type="text/javascript">
	document.observe('dom:loaded', function() {
		var m = new SubMenu('submenu', ['Run Ingestion', 'History']);
	{% if perms.youpi.can_view_ing_logs %}
		m.setOnClickHandler(1, ingestion_history);
	{% endif %}
		var c = $('itt_content_div');
		c.hide();
		var sel = $('itt_select');
		sel.observe('change', function() {
			if (c.visible()) updateContent(c);
		});

		$('itt_view_button').observe('click', function() {
			if (!gready) return;
			if (this.value == 'Hide') {
				this.value = 'Show';
				c.blindUp({
					beforeStart: function() {gready = false;},
					afterFinish: function() {gready = true;}
				});
			}
			else {
				this.value = 'Hide';
				updateContent(c, function() {
					c.blindDown({
						beforeStart: function() {gready = false;},
						afterFinish: function() {gready = true;}
					});
				});
			}
		});
		$('itt_raw_button').observe('click', function() {
			var sel = $('itt_select');
			window.open('/youpi/ingestion/itt/raw/' + sel.options[sel.selectedIndex].value + '/');
		});
		ingestionType({% if perms.youpi.can_submit_jobs %}true{% else %}false{% endif %});

		try {
			var options = {
				{# IngestionName is the keyword needed by the server-side script to know what to query #}
				script: '/youpi/autocompletion/IngestionName/',
				varname: 'Value',
				json: true,
				maxresults: 20,
				timeout: 3000
			};
			var as = new _bsn.AutoSuggest('input_ingestion_id', options);
		} catch(e) {}
	});
</script>
{% endblock %}
