{# Item cart Sextractor template #}

<table class="cleantd">
	<tr>
		<td style="width: 100%; padding: 3px">
			{# Implement the _saveItemForLater() function #}
			{# pluginId_forloop.counter is the tr element's id needed to remove the item from the cart once submitted #}
			<img src="/media/{{ user.get_profile.guistyle }}/img/misc/save_later.gif" onclick="{{ plugin.id }}_saveItemForLater(
				
				'{{ plugin.id }}_{{ forloop.counter }}',
				'{{ data.userData.imgList }}', 
				'{{ plugin.itemPrefix }}{{ data.itemCounter }}', 
				'{{ data.userData.flagPath }}', 
				'{{ data.userData.weightPath }}',
				'{{ data.userData.psfPath }}',
				'{{ data.userData.resultsOutputDir }}',
				'{{ data.userData.config }}'
				
				);"/>
			<br/><br/>
			<span class="imgCountLink" onclick="{{ plugin.id }}_viewImageList('{{ plugin.id }}_images_div_{{ forloop.counter }}', '{{ data.userData.imgList }}');">
			<script type="text/javascript">
					{{ plugin.id }}_displayImageCount('{{ data.userData.imgList }}');
				</script>
			</span>
			<table class="plugin_small">
				<tr>
					<td><span class="flatLetter">Flag:</span></td>
					<td>{{ data.userData.flagPath }}</td>
				</tr>
				<tr>
					<td><span class="maskLetter">Weight:</span></td>
					<td>{{ data.userData.weightPath }}</td>
				</tr>
				{% if data.userData.psfPath %}
				<tr>
					<td><span class="regLetter">Psf:</span></td>
					<td>{{ data.userData.psfPath }}</td>
				</tr>
				{% endif %}
				<tr>
					<td><span class="confLetter">Config:</span></td>
					<td>{{ data.userData.config }}</td>
				</tr>
				<tr>
					<td><span class="confLetter">Results output dir:</span></td>
					<td>{{ data.userData.resultsOutputDir }}</td>
				</tr>
			</table>
			<div id="{{ plugin.id }}_images_div_{{ forloop.counter }}" style="display: none;"></div>
		</td>
		<td>
			<img src="/media/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png" style="vertical-align:middle"/>
		</td>
		<td style="text-align: center; vertical-align: middle">
				<img src="/media/{{ user.get_profile.guistyle }}/img/misc/run.gif" onclick="{{ plugin.id }}_run('{{ plugin.id }}_{{ forloop.counter }}', 
					'{{ data.userData.imgList }}', 
					'{{ plugin.itemPrefix }}{{ data.itemCounter }}', 
					'{{ data.userData.flagPath }}', 
					'{{ data.userData.weightPath }}',
					'{{ data.userData.psfPath }}',
					'{{ data.userData.config }}',
					'{{ data.userData.resultsOutputDir }}',
					'{{ data.userData.sexId }}');"/>
		</td>
	</tr>
</table>
