{# Item cart Skeleton template #}

<table class="cleantd">
	<tr>
		<td style="width: 100%; padding: 3px">
			{# Implement the _saveItemForLater() function #}
			{# pluginId_forloop.counter is the tr element's id needed to remove the item from the cart once submitted #}
			<img src="/media/{{ user.get_profile.guistyle }}/img/misc/save_later.gif" onclick="{{ plugin.id }}_saveItemForLater('{{ plugin.id }}_{{ forloop.counter }}', 
				'{{ plugin.itemPrefix }}{{ data.itemCounter }}',
				'{{ data.userData.resultsOutputDir }}');"/>
			<br/>
			<p>This is a <b>demo-related job</b>. 5 jobs will be sent to the Condor cluster if you click on the 'Run' button.</p>
			<p>Each job will try to execute the <tt>/usr/bin/uptime</tt> command once on cluster node.</p>
		</td>
		<td>
			<img src="/media/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png" style="vertical-align:middle"/>
		</td>
		<td style="text-align: center; vertical-align: middle">
			{# Implement the _run() function so that an item can be process on the cluster #}
			{# pluginId_forloop.counter is the tr element's id needed to remove the item from the cart once submitted #}
			<img src="/media/{{ user.get_profile.guistyle }}/img/misc/run.gif" onclick="{{ plugin.id }}_run('{{ plugin.id }}_{{ forloop.counter }}', '{{ data.userData.resultsOutputDir }}');"/>
		</td>
	</tr>
	<tr>
		<td><span class="confLetter">Results output dir:</span> {{ data.userData.resultsOutputDir }}</td>
	</tr>
</table>
