{# Item cart custom template #}

<table class="cleantd">
	<tr>
		<td style="width: 100%; padding: 3px">
			<div id="{{ plugin.id }}_{{ forloop.counter }}_selections_div"></div>
			<script type="text/javascript">
				{{ plugin.id }}_displayImageCount('{{ data.userData.imgList }}', '{{ plugin.id }}_{{ forloop.counter }}_selections_div');
			</script>
			<table class="plugin_small">
				<tr>
					<td><span class="flatLetter">Flat:</span></td>
					<td>{{ data.userData.flatPath }}</td>
				</tr>
				<tr>
					<td><span class="maskLetter">Mask:</span></td>
					<td>{{ data.userData.maskPath }}</td>
				</tr>
				{% if data.userData.regPath %}
				<tr>
					<td><span class="regLetter">Reg:</span></td>
					<td>{{ data.userData.regPath }}</td>
				</tr>
				{% endif %}
				<tr>
					<td><span class="confLetter">Config:</span></td>
					<td>{{ data.userData.config }}</td>
				</tr>
				<tr>
					<td><span class="confLetter">Results output dir:</span></td>
					<td>{{ data.userData.resultsOutputDir }}</td>
				</tr>
			</table>
			<div id="{{ plugin.id }}_images_div_{{ forloop.counter }}" style="display: none;"></div>
		</td>
		<td style="text-align: center; vertical-align: middle">
			<div class="submitItem">
				<p><img src="/media/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png" style="vertical-align:middle"/></p>
				<p><img src="/media/{{ user.get_profile.guistyle }}/img/misc/run.gif" title="Submit processing to cluster" 
						onclick="{{ plugin.id }}_run(	'{{ plugin.id }}_{{ forloop.counter }}', 
														'{{ data.userData.imgList }}', 
														'{{ plugin.itemPrefix }}{{ data.itemCounter }}', 
														'{{ data.userData.flatPath }}', 
														'{{ data.userData.maskPath }}',
														'{{ data.userData.regPath }}',
														'{{ data.userData.config }}',
														'{{ data.userData.resultsOutputDir }}',
														'{{ data.userData.fitsinId }}');"/>
				</p>
			</div>
			<div>or</div>
			<img src="/media/{{ user.get_profile.guistyle }}/img/misc/save_later.gif" onclick="{{ plugin.id }}_saveItemForLater('{{ plugin.id }}_{{ forloop.counter }}', 
				'{{ data.userData.imgList }}', 
				'{{ plugin.itemPrefix }}{{ data.itemCounter }}', 
				'{{ data.userData.flatPath }}', 
				'{{ data.userData.maskPath }}',
				'{{ data.userData.regPath }}',
				'{{ data.userData.resultsOutputDir }}',
				'{{ data.userData.config }}');"/>
		</td>
	</tr>
</table>
