<!--
  Default HTML template for spica2's plugins
  -->
<div align="center">
<div class="warning" style="width: 50%">
	<p>You are seeing this because no <strong>.template</strong> plugin attribute is defined at this time in your Python plugin file. Be sure to add a <strong>.template</strong> attribute pointing at the location of your custom template.
	</p>
	<p>This is a default HTML template for this <q><strong>{{ plugin.optionLabel }}</strong></q> plugin. No custom template has been defined to use with this plugin.</p>
</div>
