{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/history.css"></script>
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"></script>

<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript" src="/media/js/condorpanel.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/modalbox/modalbox.css"/>
<script type="text/javascript" src="/media/js/3rdParty/modalbox/modalbox.js"></script>

<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

function set_current_theme(name) {
	var xhr = new HttpRequest(
			null,
			null,	
			// Custom handler for results
			function(resp) {
				window.location.reload();
			}
	);

	var post = 'Name=' + name;
	xhr.send('/youpi/preferences/theme/set/', post);
}

function show_available_themes() {
	var d = document.getElementById('all_themes_div');
	var tab = document.createElement('table');
	var tr, td, img, meta;
	var meta, name, desc;

	tr = document.createElement('tr');
	{% for theme in themes %}
	td = document.createElement('td');
	img = document.createElement('img');
	img.setAttribute('src', '/media/themes/{{ theme.short_name }}/screenshot.png');
	img.setAttribute('onclick', "set_current_theme('{{ theme.short_name }}');");
	img.setAttribute('title', "Use {{ theme.name }} as default theme");
	meta = document.createElement('div');

	name = document.createElement('div');
	name.setAttribute('class', 'name');
	name.appendChild(document.createTextNode('{{ theme.name }}'));

	desc = document.createElement('div');
	desc.setAttribute('class', 'description');
	desc.appendChild(document.createTextNode('{{ theme.description }}'));

	meta.appendChild(name);
	meta.appendChild(desc);
	td.appendChild(img);
	td.appendChild(meta);
	tr.appendChild(td);
	{% endfor %}

	tab.appendChild(tr);
	d.appendChild(tab);
}

function show_current_config_button() {
	$('top_save_div', 'bottom_save_div').each(function(div) {
		var but = new Element('input', {type: 'button', value: 'Save current configuration'});
		but.observe('click', function() {
			save_config(this.next());
		});
		div.insert(but);
		div.insert(new Element('div'));
	});
}

function save_config(div) {
	var log = new Logger(div);
	var data = new Hash();
	var kinds = ['DB', 'DP', 'DS'];
	var selsuff = ['_def_behaviour_select', '_pol_select', '_sel_select'];
	var pids = new Array();
{% for plugin in plugins %}
	pids.push('{{ plugin.id }}');
{% endfor %}

	kinds.each(function(kind, k) {
		data.set(kind, new Array());
		pids.map(function(pid) {
			return $(pid + selsuff[k]);
		}).each(function(sel) {
			if (!sel) return;
			data.get(kind).push(sel.options[sel.selectedIndex].value);
		});
		data.set(kind, data.get(kind).join(','));
	});

	var r = new HttpRequest(
		null,
		null,	
		function(resp) {
			log.clear();
			if (resp['Error']) {
				log.msg_error(resp['Error']);
				return;
			}
			log.msg_ok('Configuration successfully saved.');
		}
	);

	r.send('/youpi/preferences/condor/saveCurrentConfig/', getQueryString(data));
}

function load_config() {
	var config = '{{ config }}'.unescapeHTML().evalJSON();
	if (!config) return;

	var selsuff = ['_def_behaviour_select', '_pol_select', '_sel_select'];
	var kind = ['DB', 'DP', 'DS'];
	var sel;
	var pids = new Array();
{% for plugin in plugins %}
	pids.push('{{ plugin.id }}');
{% endfor %}

	pids.each(function(pid) {
		selsuff.map(function(suf, k) {
			return $(pid + suf);
		}).each(function(sel, k) {
			if (!sel) return;
			$A(sel.options).each(function(option) {
				if (option.value == config[pid][kind[k]]) {
					option.setAttribute('selected', 'selected');
					throw $break;
				}
			});
		});
	});
}
</script>
{% endblock %}

<!-- Main body -->
{% block content %}
<div id="submenu">
	<div style="width: 100%; display: none;" id="menuitem_sub_0">
		<div id="condor_global_log" class="prefs_condor"></div>
		<div id="top_save_div" class="prefs_condor"></div>
		<div class="prefs_condor">
			<h1>Default Processing Cart Item Behaviour</h1>
			You can configure cart's items to use either your default <b>policy</b> or <b>selection</b> automatically as 
			a default choice.
			<div style="margin-top: 10px;">
				<table class="defaultCondorSetup">
				{% for plugin in plugins %}
					<tr>
						<td>
							{{ plugin.optionLabel }}
						</td>
						<td>
							<label>use default </label>
							<select id="{{ plugin.id }}_def_behaviour_select">
								<option>policy</option>	
								<option>selection</option>	
							</select>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
		<div class="prefs_condor">
			<h1>Default Policy</h1>
			{% if policies %}
			<table class="defaultCondorSetup">
				{% for plugin in plugins %}
				<tr>
					<td>{{ plugin.optionLabel }}</td>
					<td>
						<select id="{{ plugin.id }}_pol_select">
					{% for pol in policies %}
							<option>{{ pol.label }}</option>	
					{% endfor %}
						</select>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="tip" style="width: 150px">None available. Please <a href="/youpi/condor/setup/">create at least one policy</a>.</div>
			{% endif %}
		</div>
		<div class="prefs_condor">
			<h1>Default Selection</h1>
			{% if selections %}
			<table class="defaultCondorSetup">
				{% for plugin in plugins %}
				<tr>
					<td>{{ plugin.optionLabel }}</td>
					<td>
						<select id="{{ plugin.id }}_sel_select">
					{% for sel in selections %}
							<option>{{ sel.label }}</option>	
					{% endfor %}
						</select>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="tip" style="width: 150px">None available. Please <a href="/youpi/condor/setup/">create at least one selection</a>.</div>
			{% endif %}
		</div>
		<div id="bottom_save_div" class="prefs_condor"></div>
	</div>
	<div style="width: 100%; display: none;" id="menuitem_sub_1">
		<div class="prefs_condor">
			<h1>Default Permissions to apply</h1>
			<p>You can change your default permissions for accessing data. Theses values are used everytime 
			you work within Youpi and allow you to control your data access.</p>
			<div style="margin-top: 10px;">
				<table class="defaultCondorSetup">
					<tr>
						<td>Default Mode</td>
						<td id="perms_mode_td"/>
					</tr>
				</table>
			</div>
		</div>
		<div class="prefs_condor">
			<h1>Active User Permissions</h1>
			<p>You are logged in as user <b>{{ user.username }}</b>, member of group(s): 
				<ul>
			{% for group in user.groups.all %}
					<li>{{ group }}</li>
			{% endfor %}
				</ul>
			</p>
			<p>Here is the list of your permissions. In order to change any of them, please contact a Youpi administrator.</p>
			<table class="permlist">
				<tr>
					<th>Permission Name</th>
					<th>Granted</th>
				</tr>
			</table>
		</div>
	</div>
	<div style="width: 100%" id="menuitem_sub_2">
		<div id="current_theme_div" class="themes">
			<h1>Current Theme</h1>
			<div class="curtheme">
				<table>
					<tr>
						<td>
							<img src="/media/themes/{{ user.get_profile.guistyle }}/screenshot.png"/>
						</td>
						<td>
							<div class="name">{{ current_theme.name }} <span class="version">{{ current_theme.version }}</span></div> 
							by <a href="{{ current_theme.author_uri }}"><span class="author">{{ current_theme.author }}</span></a>
							<div class="description">{{ current_theme.description }}</div>
						</td>
					</tr>
				</table>
			</div>

			<h1>Available Themes</h1>
			<div id="all_themes_div" class="allthemes"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.observe('dom:loaded', function() {
		var m = new SubMenu('submenu', ['Default Condor Setup', 'Permissions', 'Themes']);
		show_available_themes();
		show_current_config_button();
		load_config();

		$('perms_mode_td').update(get_permissions('profile', 'any'));
	
		// Show available permissions
		var tab = $$('table.permlist')[0];
		var tr, td, img;
	{% for p in global_perms %}
		tr = new Element('tr');
		td = new Element('td').update("{{ p.label }}");
		tr.insert(td);
		img = new Element('img');
		img.writeAttribute('src', "/media/themes/{{ user.get_profile.guistyle }}/img/admin/icon-{% if p.perm %}yes{% else %}no{% endif %}.gif");
		td = new Element('td').update(img).addClassName('granted');
		tr.insert(td);
		tab.insert(tr);
	{% endfor %}
	});
</script>
{% endblock %}
