{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<!-- Javascript treeview -->
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/tafelTree/css/tree.css"/>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/js/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/js/scriptaculous.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/Tree.js"></script>

<link rel="stylesheet" type="text/css" href="/media/{{ user.get_profile.guistyle }}/css/tooltip.css"></script>
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>
<script type="text/javascript" src="/media/js/preIngestionTreeview.js"></script>
<script type="text/javascript" src="/media/js/preIngestionAsyncCalls.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/{{ user.get_profile.guistyle }}/css/menu.css"></script>
<script type="text/javascript" src="/media/js/menu.js"></script>

<!-- Progress bar -->
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/prototype/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/progressbar/js/bramus/jsProgressBarHandler.js"></script>

<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

function preingestion_history()
{
	/*
	 * Arg 1: container id
	 * Arg 2: select id (for limiting results)
	 * Arg 3: path to server-side script for async Ajax query
	 *
	 */
	queryUrlDisplayAsTable('div_result', 'select_history_limit', '/spica2/history/preingestion/');
}
</script>
{% endblock %}

{% block stylesheet %}/media/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div align="center">
<table class="preingestion">
	<tr>
		<td>
			<div id="pre_submenu">
				<ul class="smart_tabnav" id="tabnav2">
					<li class="enabled"><a href="#" id="link_ingest" onclick="swap_display(this.id, 'menuitem_ingest', 'tabnav2', 'menuitem_')">Ingest binary FITS tables</a></li>

				</ul>
			</div>
		</td>
	</tr>
	<tr id="data">
		<td>
			<div id="menuitem_ingest">
				<form id="form_preingestion" name="form_preingestion" onsubmit="process_preingestion(); return false">
					<table width="100%">
						<tr>
							<td width="60%">
								<p>You can ingest <strong>binary FITS tables</strong> into the database. Please select a local path on <strong>{{ hostname }}</strong> to process <tt class="filename">'mcmd.*.fits'</tt> files:</p>
								<p id="treeview"></p>
							</td>
							<td>
								<div id="div_selected_path"></div>
								<div id="form_submit" style="display: none">
									<table width="100%">
										<tr>
											<td width="50%">
												<input id="submit_button" type="submit" value="Start"/>
											</td>
											<td style="text-align: left; vertical-align: middle">
												<span style="display: none" class="progressBar" id="process_bar">0%</span>
											</td>
										</tr>
										<tr>
											<td colspan="2"><div id="running"></div></td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="monitor" id="status" style="display: none">
													<table width="100%">
														<tr>
															<td class="head">Done</td>
															<td>
																<div id="count"></div>
															</td>
														</tr>
														<tr>
															<td class="head">Table</td>
															<td>
																<div id="table"></div>
															</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>

			<div id="menuitem_query" style="display: none">
				<p>Please use the form below to build a custom SQL query:</p>
				<div id="sqlform" align="center"></div>
			</div>
		</td>
	</tr>
</table>
</div>

<script type="text/javascript">
	preIng_treeview.init('{{ hostname }}', 'treeview');
</script>

{% endblock %}
