{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
{% compressed_css 'cart' %}
{% compressed_js 'cart' %}
<script type="text/javascript">
// Global vars
var guistyle = '{{ user.get_profile.guistyle }}';
var condorPanel = new CondorPanel(null, 'condorPanel');

{% for plugin in plugins %}
var {{ plugin.id }}_drop_box;
var {{ plugin.id }}_item_counter = 0;
{% endfor %}

{# Load custom plugin's javascript code if available #}
{% for plugin in plugins %}
	{% include plugin.jsSource %}
{% endfor %}

youpi_pc_meta.saved_policies=[{% for pol in policies %}'{{ pol.label }}'{% if not forloop.last %},{% endif %}{% endfor %}];
youpi_pc_meta.saved_selections=[{% for sel in selections %}'{{ sel.label }}'{% if not forloop.last %},{% endif %}{% endfor %}];

/*
 * Slots
 *
 */

document.observe('keydown', function(event) {
	if (event.keyCode == 16) window.shiftPressed = 1;
});

document.observe('keyup', function(event) {
	if (event.keyCode == 16 || event.which == 16) window.shiftPressed = 0;
});

// Menu handling
var menu, sc_accordion;
document.observe('dom:loaded', function() {
	menu = new SubMenu('submenu', ['Cart items', 'Saved items']);
	menu.setOnClickHandler(1, getSavedItemsStats);
	sc_accordion = new Accordion('accordion', {
		duration: 0.5,
		openHandler: function(idx) {
			var pattern = 'plugin_menuitem_sub_';
			var pid = $$('div[id^=' + pattern + ']')[idx].readAttribute('id').sub(pattern, '');
			eval(pid + '.showSavedItems()');	
		}
	});
	$('select_all').observe('click', function() {
		cart_select_all_items(true);
	});
	$('select_none').observe('click', function() {
		cart_select_all_items(false);
	});
	$('select_inverse').observe('click', function() {
		$$('table.shoppingCart input.item_select_input').each(function(check) {
			check.checked = !check.checked;
		});
	});

	new Q.Window({
		id: 'ro_Q',
		trigger: "runtime_options",
		title: "Runtime Options",
		text: build_runtime_options()
	}); 

	enable_multi_checking($$('table.shoppingCart input.item_select_input'));
	youpi_pc_meta.progressBar = new ProgressBar('cart_pbar_div', 0, {
		animate: false,
		color: '#eee',
		borderColor: '#555',
		width: 150,
		height: 18,
		captionClassName: 'swarp_caption'
	});
	$('cart_pbar_div').hide();
	
	['delete', 'save', 'run'].each(function(action) {
		$(action + '_selection_img').observe('click', function() {
			var data = find_checked_items();
			if (data == null) {
				alert('Please make a selection first!');
				return;
			}
			var count = count_checked_items(data);
			switch(action) {
				case 'delete':
					do_delete_items(count, data);
					break;
				case 'save':
					do_save_items(count, data);
					break;
				case 'run':
					do_run_items(count, data);
					break;
				default:
					break;
			}
		});
	});
});
</script>
{% endblock %}

<!-- Main body -->
{% block content %}

<div align="center">
<div style="text-align: center;">
	<div id="submenu">
	{% if not perms.youpi.can_submit_jobs %}
		<div style="margin-top: 5px;">
			<div class="perm_not_granted" style="margin-top: 20px; margin: auto;">
				<label>You don't have permission to submit jobs on the cluster</label>
			</div>
		</div>
	{% endif %}
		<div align="center" style="width: 100%" id="menuitem_sub_0">
			{# Cart items #}
			{% if cartHasData %}
			<div>
			<div id="cart_menu_div">
				<div style="float: left;">
					<ul>
						<li id="delete_selection_img" title="Delete a selection of items">Delete</li>
						<li id="save_selection_img" title="Save a selection of items for later use">Save for later</li>
						<li id="run_selection_img" title="Submit selected items to the cluster">Run</li>
						<li id="runtime_options" title="Select and apply runtime options to the selection">Runtime options</li>
					</ul>
				</div>
				<div id="master_condor_log_div"></div>
				<div id="cart_pbar_div"></div>
				<div style="clear: both;">Select: <a href="#" id="select_all">All</a>, <a href="#" id="select_none">None</a>, <a href="#" id="select_inverse">Inverse</a></div>
			</div>
			{% for plugin in cart_plugins %}
				{% if plugin.hasItemsInCart %}
			<table class="shoppingCart">
				<tr>
					<th colspan="3">{{ plugin.optionLabel }} - <i>{{ plugin.description }}</i> items</th>
				</tr>
					{% for data in plugin.getData %}
						{# Invoke custom template rendering #}
				<tr id="{{ plugin.id }}_{{ forloop.counter0 }}">
					<td style="text-align: left">
						<span style="font-size: 13px; vertical-align: top;"><input class="item_select_input" type="checkbox"/>&nbsp;<b>{{ plugin.itemPrefix }}{{ data.itemCounter }}</b> - {{ data.date }}</span>
						<div class="sc_item_numbering">{{ forloop.counter }}</div>
					</td>
					<td colspan="2">
						{% include plugin.itemCartTemplate %}
					</td>
				</tr>
					{% endfor %}
			</table>
				{% endif %}
			{% endfor %}
			</div>
			{% else %}
			<div id="emptycart_div" style="margin-top: 70px; padding: 5px;">
				{# No data in cart ! #}
				<h1>Your cart is currently empty</h1>
			</div>
			{% endif %}
		</div>
		<div style="display: none" class="cartSavedItems" align="center" id="menuitem_sub_1">
			{# Saved items #}
			<p class="title">
				Please select a type of processing by clicking on its name in order to display its saved items:
			</p>
			<div id="accordion" style="width: 70%; margin: auto;">
			{% for plugin in plugins %}
				<h1 class="vertical_accordion_toggle">
					<img src="/media/themes/{{ user.get_profile.guistyle }}/img/16x16/{{ plugin.id }}.png"/>
					<span style="font-weight: bold;">{{ plugin.description }}</span> 
					({{ plugin.optionLabel }}) - <span class="tagwidget" id="plugin_{{ plugin.id }}_saved_count" class="count"/>
				</h1>
				<div class="vertical_accordion_content">
					<div>
						<div class="ontent" align="center" id="plugin_menuitem_sub_{{ plugin.id }}"></div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
