{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<!-- Javascript treeview -->
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/tafelTree/css/tree.css"/>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/js/prototype.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/js/scriptaculous.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/Tree.js"></script>

<link rel="stylesheet" type="text/css" href="/media/{{ user.get_profile.guistyle }}/css/tooltip.css"/>
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/xhr.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>

<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript" src="/media/js/imageselector.js"></script>
<script type="text/javascript" src="/media/js/filebrowser.js"></script>
<script type="text/javascript" src="/media/js/configfilewidget.js"></script>
<script type="text/javascript" src="/media/js/pathselectorwidget.js"></script>

<!-- Grid widget -->
<script type="text/javascript" src="/media/js/advancedtable.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

{# Load custom plugin's javascript code #}
{% include plugin.jsSource %}
</script>
{% endblock %}

<!-- Main body -->
{% block content %}

<div style="padding: 20px;">
	<span><a href="/spica2/processing/">Go back to the list of available processings</a></span>
	<div>
		<img src="/media/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png" style="float: left; margin-right: 10px;"/>
		<div style="font-style: italic; padding-top: 16px;">{{ plugin.description }}, version {{ plugin.version }}</div>
	</div>
	<div align="center">
		{% include plugin.template %}
	</div>
</div>

{% endblock %}
