{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
{% compressed_css 'cart' %}
{% compressed_js 'cart' %}
<script type="text/javascript">
// Global vars
var guistyle = '{{ user.get_profile.guistyle }}';
var condorPanel = new CondorPanel(null, 'condorPanel');

{% for plugin in plugins %}
var {{ plugin.id }}_drop_box;
var {{ plugin.id }}_item_counter = 0;
{% endfor %}

function show_runtime_options(pid, container_id) {
	eval(pid + "_drop_box = new DropdownBox(container_id, 'Runtime Options');");
	var r = eval(pid + '_drop_box.getContentNode();');
	// Base id
	var id = pid + '_' + eval(pid + '_item_counter');
	
	// Checkbox
	var da = Builder.node('div', { className: 'rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('input', { id: id + '_reprocess_successful_checkbox',
								type: 'checkbox',
								checked: true }),
		Builder.node('label', 'Do not reprocess already successful processings')
	]);
	r.appendChild(da);

	// Item prefix name
	da = Builder.node('div', { className: 'rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('label', 'Item prefix name'),
		Builder.node('input', { id: id + '_prefix_name_input',
								type: 'text' })
	]);
	r.appendChild(da);

	// Cluster policy
	da = Builder.node('div', { className: 'cart_item_policy rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('div', 'Cluster node policy'),
		Builder.node('div', [
			Builder.node('input', { id: id + '_default_radio',
									onclick: "toggle_node_policy_radio(this.id,'" + id + '_custom_radio' + 
												"','" + id + '_custom_div' + "');",
									type: 'radio',
									checked: true,
									name: id + '_node_policy' }),
			Builder.node('label', 'Use your default Condor setup configuration')
		]),
		Builder.node('div', [
			Builder.node('input', { id: id + '_custom_radio',
									onclick: "toggle_node_policy_radio('" + id + '_default_radio' + "',this.id,'" + 
												id + '_custom_div' + "');",
									type: 'radio',
									name: id + '_node_policy' }),
			Builder.node('label', 'Select a custom configuration for this processing')
		]),
		Builder.node('div', { id: id + '_custom_div', style: 'display: none;' }, [
			Builder.node('label', 'Select a policy or selection: '),
			Builder.node('select', { id: id + '_node_select' }, [
				Builder.node('option', { className: 'header', disabled: true }, 'Policies'),
	{% for pol in policies %}
				Builder.node('option', {className: 'policy', 
										id: id + '_pol_opt_{{ forloop.counter0 }}',
										{% if forloop.first %}selected: true{% endif %}}, 
										'{{ pol.label }}'),
	{% endfor %}
				Builder.node('option', { className: 'header', disabled: true }, 'Selections'),
	{% for sel in selections %}
				Builder.node('option', { className: 'selection', id: id + '_sel_opt_{{ forloop.counter0 }}' }, '{{ sel.label }}'),
	{% endfor %}
			])
		])
	]);

	r.appendChild(da);
	eval(pid + '_item_counter++');
}

{# Load custom plugin's javascript code if available #}
{% for plugin in plugins %}
	{% include plugin.jsSource %}
{% endfor %}

/*
 * Slots
 *
 */

document.observe('keydown', function(event) {
	if (event.keyCode == 16) window.shiftPressed = 1;
});

document.observe('keyup', function(event) {
	if (event.keyCode == 16 || event.which == 16) window.shiftPressed = 0;
});

// Menu handling
var menu, sc_accordion;
document.observe('dom:loaded', function() {
	menu = new SubMenu('submenu', ['Cart items', 'Saved items']);
	menu.setOnClickHandler(1, getSavedItemsStats);
	sc_accordion = new Accordion('accordion', {
		duration: 0.5,
		openHandler: function(idx) {
			var pattern = 'plugin_menuitem_sub_';
			var pid = $$('div[id^=' + pattern + ']')[idx].readAttribute('id').sub(pattern, '');
			eval(pid + '.showSavedItems()');	
		}
	});
	$('select_all').observe('click', function() {
		cart_select_all_items(true);
	});
	$('select_none').observe('click', function() {
		cart_select_all_items(false);
	});
	$('select_inverse').observe('click', function() {
		$$('table.shoppingCart input.item_select_input').each(function(check) {
			check.checked = !check.checked;
		});
	});

	enable_multi_checking($$('table.shoppingCart input.item_select_input'));
	youpi_pc_meta.progressBar = new ProgressBar('cart_pbar_div', 0, {
		animate: false,
		color: '#eee',
		borderColor: '#555',
		width: 150,
		height: 18,
		captionClassName: 'swarp_caption'
	});
	$('cart_pbar_div').hide();
	
	['delete', 'save', 'run'].each(function(action) {
		$(action + '_selection_img').observe('click', function() {
			var data = find_checked_items();
			if (data == null) {
				alert('Please make a selection first!');
				return;
			}
			var count = count_checked_items(data);
			switch(action) {
				case 'delete':
					do_delete_items(count, data);
					break;
				case 'save':
					do_save_items(count, data);
					break;
				case 'run':
					do_run_items(count, data);
					break;
				default:
					break;
			}
		});
	});
});
</script>
{% endblock %}

<!-- Main body -->
{% block content %}

{% comment %}
	<td style="text-align: center; vertical-align: middle">
		<div class="submitItem">
			<p><img src="/media/themes/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png" style="vertical-align:middle"/></p>
			<p><img id="{{ plugin.id }}_{{ forloop.counter0 }}_run" src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/run.png" title="Submit processing to cluster"/> 
			</p>
		</div>
		<img id="{{ plugin.id }}_{{ forloop.counter0 }}_save" src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/save_later.png"/>
	</td>
{% endcomment %}
<div align="center">
<div style="text-align: center;">
	<div id="submenu">
	{% if not perms.youpi.can_submit_jobs %}
		<div style="margin-top: 5px;">
			<div class="perm_not_granted" style="margin-top: 20px; margin: auto;">
				<label>You don't have permission to submit jobs on the cluster</label>
			</div>
		</div>
	{% endif %}
		<div align="center" style="width: 100%" id="menuitem_sub_0">
			{# Cart items #}
			{% if cartHasData %}
			<div>
			<div id="cart_menu_div">
				<div style="float: left;">
					<img id="delete_selection_img" src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/delete.png"/>
					<img id="save_selection_img" src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/save_later.png"/>
					<img id="run_selection_img" src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/run.png"/>
				</div>
				<div id="master_condor_log_div"></div>
				<div id="cart_pbar_div"></div>
				<div style="clear: both;">Select: <a href="#" id="select_all">All</a>, <a href="#" id="select_none">None</a>, <a href="#" id="select_inverse">Inverse</a></div>
			</div>
			{% for plugin in cart_plugins %}
				{% if plugin.hasItemsInCart %}
			<table class="shoppingCart">
				<tr>
					<th colspan="3">{{ plugin.optionLabel }} - <i>{{ plugin.description }}</i> items</th>
				</tr>
					{% for data in plugin.getData %}
						{# Invoke custom template rendering #}
				<tr id="{{ plugin.id }}_{{ forloop.counter0 }}">
					<td style="text-align: left">
						<span style="font-size: 13px; vertical-align: top;"><input class="item_select_input" type="checkbox"/>&nbsp;<b>{{ plugin.itemPrefix }}{{ data.itemCounter }}</b> - {{ data.date }}</span>
						<div class="sc_item_numbering">{{ forloop.counter }}</div>
					</td>
					<td colspan="2">
						<div id="{{ plugin.id }}_options_div_{{ forloop.counter }}"></div>
						<script type="text/javascript">
							show_runtime_options('{{ plugin.id }}', '{{ plugin.id }}_options_div_{{ forloop.counter }}');
						</script>
						{% include plugin.itemCartTemplate %}
					</td>
				</tr>
					{% endfor %}
			</table>
				{% endif %}
			{% endfor %}
				<!--
				<tr>
					<td colspan="3" style="text-align: right; border: none">
						<img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/proceed.gif"/>
					</td>
				</tr>
				-->
			</div>
			{% else %}
			<div id="emptycart_div" style="margin-top: 70px; padding: 5px;">
				{# No data in cart ! #}
				<h1>Your cart is currently empty</h1>
			</div>
			{% endif %}
		</div>
		<div style="display: none" class="cartSavedItems" align="center" id="menuitem_sub_1">
			{# Saved items #}
			<p class="title">
				Please select a type of processing by clicking on its name in order to display its saved items:
			</p>
			<div id="accordion" style="width: 70%; margin: auto;">
			{% for plugin in plugins %}
				<h1 class="vertical_accordion_toggle">
					<img src="/media/themes/{{ user.get_profile.guistyle }}/img/16x16/{{ plugin.id }}.png"/>
					<span style="font-weight: bold;">{{ plugin.description }}</span> 
					({{ plugin.optionLabel }}) - <span class="tagwidget" id="plugin_{{ plugin.id }}_saved_count" class="count"/>
				</h1>
				<div class="vertical_accordion_content">
					<div>
						<div class="ontent" align="center" id="plugin_menuitem_sub_{{ plugin.id }}"></div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
