{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block extrahead %}
{% compressed_css 'procplugin' %}
{% compressed_js 'procplugin' %}
{% compressed_js plugin.id %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
var skel_output_data = '{{ processing_output.0|safe }}{{ user.username }}/skel/';
{# Load custom plugin's javascript code #}
{% comment %}
{% endcomment %}
{% include plugin.jsSource %}

// Displays both logo and 'About' menu tab
function show_plugin_info() {
	var menu = $('menu');
	menu.setStyle({
		backgroundRepeat: 'no-repeat', 
		backgroundPosition: 'center right', 
		backgroundImage: 'url(/media/themes/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png) center right no-repeat'
	});
	var li = new Element('li').addClassName('disabled');
	var a = new Element('a', {href: '#', id: 'entry_about'}).update('About');
	a.observe('click', function() {
		swap_display(this.id, 'menuitem_sub_about', 'menu', 'menuitem_sub_');
	});
	var d = new Element('div', {id: 'menuitem_sub_about'}).setStyle({textAlign: 'center', width: '100%'}).hide();
	var c = new Element('div').setStyle({textAlign: 'left', margin: '30px', verticalAlign: 'bottom'});
	c.insert(new Element('img', {src: "/media/themes/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png"}));
	c.insert(new Element('br')).insert('<b>Plugin name</b>: {{ plugin.optionLabel }}<br/><b>Plugin description</b>: ' + 
		'{{ plugin.description }}<br/><b>Version</b>: {{ plugin.version }}');
	d.update(c);
	li.insert(a);
	menu.insert(li);
	menu.up().insert(d);
}
</script>
{% endblock %}

{% block content %}
<div align="center">
	{% include plugin.template %}
	<script type="text/javascript">
		document.observe('dom:loaded', function() {
			show_plugin_info.defer();
		});
	</script>
</div>
{% endblock %}
