{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<!-- Javascript treeview -->
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/tafelTree/css/tree.css"/>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/Tree.js"></script>

<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/tooltip.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

function build_menu(colCount) {
	var plugin_data = new Array();
{% for plugin in plugins %}
plugin_data[{{ forloop.counter0 }}] = ['{{ plugin.id }}', '{{ plugin.description }}', '{{ plugin.optionLabel }}', {% if plugin.accessGranted %}true{% else %}false{% endif %}];
{% endfor %}

	var container = $('plugin_menu_div');
	var tab = new Element('table').addClassName('plugin_menu');

	var tr, td, pdiv, tdiv;
	var i = 0;
	tr = new Element('tr');
	tab.insert(tr);

	plugin_data.each(function(plugin) {
		if (!plugin[3]) {
			// Plugin access not granted
			return;
		}
		if (i >= colCount) {
			tr = new Element('tr');
			tab.insert(tr);
			i = 0;
		}
		td = new Element('td');
		pdiv = new Element('div').addClassName('processing_menu_entry');
		pdiv.c_data =  plugin[0];
		pdiv.observe('click', function() {
			location.href='/youpi/processing/' + this.c_data + '/';
		});

		var img = new Element('img', {src: '/media/themes/{{ user.get_profile.guistyle }}/img/48x48/' + plugin[0] + '.png'});
		img.setStyle({marginRight: '10px;'});

		tdiv = new Element('div').setStyle({padding: '2px;'});
		var desc = new Element('span').addClassName('desc').update(plugin[1]);
		var label = new Element('span').addClassName('label').update(plugin[2]);

		tdiv.insert(desc).insert(new Element('br')).insert(label);

		pdiv.insert(img).insert(tdiv);
		td.insert(pdiv);
		tr.insert(td);
		i++;
	});
	container.insert(tab);
}
</script>
{% endblock %}

<!-- Main body -->
{% block content %}

<div>
	<ul class="smart_tabnav_sub" id="menu">
		<li class="enabled">
			<a 	href="#" id="entry_0" 
				onclick="swap_display(this.id, 'menuitem_sub_0', 'menu', 'menuitem_sub_');">Available processings</a>
		</li>
	</ul>
	<div align="center" style="width: 100%" id="menuitem_sub_0">
		<div style="margin-top: 40px;" align="center">
			<p style="color: brown;">Please select a type of processing:</p>
			<div id="plugin_menu_div" style="margin-top: 10px;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
build_menu(3);
</script>
{% endblock %}

