{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/tafelTree/css/tree.css"/>
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/tooltip.css"/>
<script type="text/javascript" src="/media/js/3rdParty/tafelTree/Tree.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>

<script type="text/javascript" src="/media/js/sqlform.js"></script>
<script type="text/javascript" src="/media/js/imageinfowidget.js"></script>
<script type="text/javascript" src="/media/js/imageselector.js"></script>
<script type="text/javascript" src="/media/js/filebrowser.js"></script>
<script type="text/javascript" src="/media/js/configfilewidget.js"></script>
<script type="text/javascript" src="/media/js/pathselectorwidget.js"></script>
<script type="text/javascript" src="/media/js/pageswitcher.js"></script>
<script type="text/javascript" src="/media/js/advancedtable.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';

{# Load custom plugin's javascript code #}
{% include plugin.jsSource %}

// Displays both logo and 'About' menu tab
function show_plugin_info() {
	var ul = document.getElementById('menu');
	ul.setAttribute('style', 	'background-repeat: no-repeat; background-position: center right;' + 
								'background-image: url(/media/themes/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png);');

	var li = document.createElement('li');
	li.setAttribute('class', 'disabled');

	var a = document.createElement('a');
	a.setAttribute('href', '#');
	a.setAttribute('id', 'entry_about');
	a.setAttribute('onclick', "swap_display(this.id, 'menuitem_sub_about', 'menu', 'menuitem_sub_');");
	a.appendChild(document.createTextNode('About'));

	var d = document.createElement('div');
	d.setAttribute('id', 'menuitem_sub_about');
	d.setAttribute('align', 'center');
	d.setAttribute('style', 'width: 100%; display: none;');

	var c = document.createElement('div');
	c.setAttribute('style', 'margin: 30px; text-align: left; height: 60px; vertical-align: bottom; padding-left: 50px;');
	c.innerHTML = 	"<img src=\"/media/themes/{{ user.get_profile.guistyle }}/img/48x48/{{ plugin.id }}.png\"/><br/>" + 
					'<b>Plugin name</b>: {{ plugin.optionLabel }}<br/><b>Plugin description</b>: ' + 
					'{{ plugin.description }}<br/><b>Version</b>: {{ plugin.version }}</div>';
	d.appendChild(c);

	li.appendChild(a);
	ul.appendChild(li);
	ul.parentNode.appendChild(d);
}
</script>
{% endblock %}

<!-- Main body -->
{% block content %}

<div align="center">

	{% include plugin.template %}

	<script type="text/javascript">
		document.observe('dom:loaded', function() {
			show_plugin_info.defer();
		});
	</script>
</div>

{% endblock %}
