{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/lightbox2/css/lightbox.css"/>
<script type="text/javascript" src="/media/js/3rdParty/lightbox2/lightbox.js"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="submenu">
	<div id="menuitem_sub_0">
		<div class="themes">
			<h1>Current User Release</h1>
			The release you are currently using: <span style="font-size: 20px; font-weight: bold; color: orange">{{ user.get_profile.release.label }}</span>
			<div id="change_current_rel_div" style="margin-top: 30px; width: 50%"/>
		</div>
	</div>
	<div align="center" style="margin-left: 30px;" id="menuitem_sub_1">
		<div style="margin-top: 40px;" align="center">
		TODO2	
		</div>
	</div>
</div>

<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Current Release', 'Edit Releases']);
	});

	var relchg = new DropdownBox('change_current_rel_div', 'Change Current Release');
	relchg.setOnClickHandler(function() {
		if (!relchg.isOpen()) return;

		var content = relchg.getContentNode();
		content.update('Please select a release name in the list and validate by clicking on the button:');
		var rels = new Array();
		{% for r in releases %}
		rels.push('{{ r.label }}');
		{% endfor %}

		var d = new Element('div');
		var sel = new Element('select');
		rels.each(function(rel) {
			sel.insert(new Element('option').update(rel));
		});
		d.insert(sel);
		content.insert(d);
	});
</script>
{% endblock %}
