{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block extrahead %}
<!--[if IE]>
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/excanvas.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/base64.js"></script>
<![endif]-->
{% compressed_css 'report' %}
{% compressed_js 'report' %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
var report_menu_entries = $A();
function report_menu_insert(title, handler) {
	if (typeof title != 'string') throw 'Title must be a string';
	if (typeof handler != 'function') throw 'Handler must be a function';
	report_menu_entries.push([title, handler]);
}
</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div>
	<div id="submenu">
		<div style="margin-left: 30px;" id="menuitem_sub_0">
			<div class="themes">
				<h1>{{ report_title }}</h1>
				<div style="margin-bottom: 20px;" class="report_menu">
					<input class="new_report report_submit" type="button" value="Select another report"/>	
				</div>
				<div>{{ before_extra_content|safe }}</div>
				<div>{{ report_content|safe }}</div>
				<div>{{ after_extra_content|safe }}</div>
				<div class="report_menu">
					<input class="new_report report_submit" type="button" value="Select another report"/>	
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Report']);
		$$('.new_report')[0].observe('click', function() {
			location.href= '{% url terapix.youpi.cviews.reporting.reporting %}';
		});
		// Looks for optional menu entries
		report_menu_entries.each(function(entry) {
			$$('.report_menu').each(function(menubar) {
				var but = new Element('input', {type: 'button', value: entry[0]});
				but.observe('click', entry[1]);
				menubar.insert(but);
			})
		});
	});
</script>
{% endblock %}

{% block body_end %}{{ body_end|safe }}{% endblock %}
