{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/gradingwidget.js"></script>
<script type="text/javascript" src="/media/js/processinghistorywidget.js"></script>
<script type="text/javascript" src="/media/js/progressbar.js"></script>


<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div>
	<div id="submenu">
		<div style="margin-left: 30px;" id="menuitem_sub_0">
			<div class="themes">
				<h1>Select a report</h1>
				<form id="report_form" method="post">
					<label>Report: </label>
					<select id="report_select">
						<option value="0">--</option>
						{% for report in reports %}
							<option value="{{ report.id }}">{{ report.title }}</option>
						{% endfor %}
						{% for plugin in plugins %}
						<optgroup id="{{ plugin.id }}" label="{{ plugin.optionLabel }}">
							{% for report in plugin.reports %}
							<option value="{{ report.id }}">{{ report.title }}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
					<div id="reports_options">
				{% for plugin in plugins %}
					{% for report in plugin.reports %}
						{% if report.options %}
						<div id="{{ report.id }}_options" style="margin-top: 20px">
							<div style="color: brown; font-weight: bold; margin-bottom: 10px;">This report has the following options:</div>
							<div class="report_options">{{ report.options|safe }}</div>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
					</div>
					<br/>
					<input id="report_submit" type="submit" value="Generate!"/>	
					<div class="report_options" id="loading_div"/>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		$('loading_div').hide();
		menu = new SubMenu('submenu', ['Reports']);
		$('report_form').observe('submit', function() {
			$('loading_div').update(getLoadingHTML('Please wait while generating report')).show();
			var sel = $('report_select');
			var opt = sel.options[sel.selectedIndex];
			var selvalue = opt.value;
			if (selvalue == '0') return false;
			var grp = opt.up();
			var type = grp != sel ? grp.id : 'global';
			$('report_form').action = '/youpi/report/' + type + '/' + selvalue + '/';
		});

		// Hide options div
		$('reports_options').select('div[id]').each(function(div) { div.hide(); });

		$('report_select').observe('change', function() {
			var sel = $('report_select');
			var id = sel.options[sel.selectedIndex].value;
			// Hide options div
			$('reports_options').select('div[id]').each(function(div) { div.hide(); });
			var divopt = $(id + '_options');
			if (divopt) divopt.slideDown({duration: 0.2});
		});
	});
</script>
{% endblock %}
