{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<!--[if IE]>
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/excanvas.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/base64.js"></script>
<![endif]-->
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/canvas2image.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/flotr/lib/canvastext.js"></script>
<script type="text/javascript" src="/media/js/3rdParty/flotr/flotr-0.2.0-alpha.js"></script>


<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div>
	<div id="submenu">
		<div style="margin-left: 30px;" id="menuitem_sub_0">
			<div class="themes">
				<h1>{{ report_title }}</h1>
				<div style="margin-bottom: 20px"><a href="/youpi/reporting/">Select another report</a></div>
				<div>{{ before_extra_content|safe }}</div>
				<div>{{ report_content|safe }}</div>
				<div>{{ after_extra_content|safe }}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['HTML Report']);
	});
</script>
{% endblock %}
