{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/gradingwidget.js"></script>
<script type="text/javascript" src="/media/js/processinghistorywidget.js"></script>
<script type="text/javascript" src="/media/js/progressbar.js"></script>


<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div>
	<div id="submenu">
		<div style="margin-left: 30px;" id="menuitem_sub_0">
			<div class="themes">
				<h1>Select a report</h1>
				<form id="report_form" method="post">
					<label>Report: </label>
					<select id="report_select">
						<option value="0">--</option>
						{% for plugin in plugins %}
						<optgroup id="{{ plugin.id }}" label="{{ plugin.optionLabel }}">
							{% for report in plugin.reports %}
							<option value="{{ report.id }}">{{ report.title }}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>
					<div id="reports_options">
				{% for plugin in plugins %}
					{% for report in plugin.reports %}
						{% if report.options %}
						<div id="{{ report.id }}_options">{{ report.options|safe }}</div> 
						{% endif %}
					{% endfor %}
				{% endfor %}
					</div>
					<br/>
					<input id="report_submit" type="submit" value="Generate!"/>	
				</form>
			</div>
		</div>
		<!--
		<div align="center" style="display: none; width: 100%" id="menuitem_sub_1">
			<div id="selector_div"></div>
		</div>
		-->
	</div>
</div>
<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Reports']);
		$('report_form').observe('submit', function() {
			var sel = $('report_select');
			var selvalue = sel.options[sel.selectedIndex].value;
			var group = sel.options[sel.selectedIndex].up().id;
			if (selvalue == '0') {
				return false;
			}
			$('report_form').action = '/youpi/report/' + group + '/' + selvalue + '/';
		});

		// Hide options div
		$('reports_options').select('div').each(function(div) { div.hide(); });

		$('report_select').observe('change', function() {
			var sel = $('report_select');
			var id = sel.options[sel.selectedIndex].value;
			// Hide options div
			$('reports_options').select('div').each(function(div) { div.hide(); });
			var divopt = $(id + '_options');
			if (divopt) divopt.show();
		});
	});
</script>
{% endblock %}
