{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block extrahead %}
{% compressed_css 'reporting' %}
{% compressed_js 'reporting' %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}
{% block content %}
<div>
	<div id="submenu">
		<div style="margin-left: 30px;" id="menuitem_sub_0">
			<div class="themes">
				<h1>Select a report</h1>
				<form id="report_form" method="post">
					<label>Report: </label>
					<select id="report_select">
						<option value="0">--</option>
						{% for greport in reports %}
							<option value="{{ greport.id }}">{{ greport.title }}</option>
						{% endfor %}
						{% for plugin in plugins %}
							{% if plugin.reports %}
							<optgroup style="background: white url('/media/themes/{{ user.get_profile.guistyle }}/img/16x16/{{ plugin.id }}.png') no-repeat top left; padding: 3px; padding-left: 20px" 
								id="{{ plugin.id }}" label="{{ plugin.optionLabel }}">
							{% for report in plugin.reports %}
							<option value="{{ report.id }}">{{ report.title }}</option>
							{% endfor %}
						</optgroup>
							{% endif %}
						{% endfor %}
					</select>
				{% if perms.youpi.can_use_reporting %}
					<div class="report_menu">
						<input class="report_reset report_submit" type="button" value="Reset"/>	
					{% for format in report_formats %}
						<input class="report_format" type="button" value="{{ format.name }}"/>	
					{% endfor %}
					</div>
				{% endif %}
				{# Descriptions #}
				{# General #}
					<div id="reports_descriptions">
				{% for greport in reports %}
					{% if greport.description %}
						<div id="{{ greport.id }}_description">
							<div class="report_description">
								<div class="report_preview"><img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/reports/{{ greport.id }}_preview.png"/></div>
								<p>Description:</p>
								<div>{{ greport.description }}</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				{# Plugins #}
				{% for plugin in plugins %}
					{% for report in plugin.reports %}
						{% if report.description %}
						<div id="{{ report.id }}_description">
							<div class="report_description">
								<div class="report_preview"><img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/reports/{{ report.id }}_preview.png"/></div>
								<p>Description:</p>
								<div>{{ report.description }}</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
					</div>
				{# Report options #}
				{# General #}
					<div id="reports_options">
				{% for greport in reports %}
					{% if greport.options %}
					<div id="{{ greport.id }}_options" style="margin-top: 20px">
						<div style="color: brown; font-weight: bold; margin-bottom: 10px;">This report has the following options:</div>
						<div class="report_options">{{ greport.options|safe }}</div>
					</div>
					{% endif %}
				{% endfor %}
				{# Plugins #}
				{% for plugin in plugins %}
					{% for report in plugin.reports %}
						{% if report.options %}
						<div id="{{ report.id }}_options" style="margin-top: 20px">
							<div style="color: brown; font-weight: bold; margin-bottom: 10px;">This report has the following options:</div>
							<div class="report_options">{{ report.options|safe }}</div>
						</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
					</div>
				{# Report templates #}
					<div id="reports_templates">
				{% for report in reports %}
					{% if report.template %}
						<div id="{{ report.id }}_template" style="margin-top: 20px">
							<div>
								{% include report.template %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
					</div>
				{% if not perms.youpi.can_use_reporting %}
					<div class="perm_not_granted" style="margin-top: 20px; width: -moz-fit-content">
						<label>You don't have permission to generate reports</label>
					</div>
				{% else %}
					<div class="report_menu">
						<input class="report_reset report_submit" type="button" value="Reset"/>	
					{% for format in report_formats %}
						<input class="report_format" type="button" value="{{ format.name }}"/>	
					{% endfor %}
					</div>
				{% endif %}
					<div class="report_options" id="loading_div"/>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var menu;
	document.observe('dom:loaded', function() {
		var report_menu = $$('.report_menu');
		report_menu.invoke('hide');
		$('loading_div').hide();
		$('report_form').reset();

		menu = new SubMenu('submenu', ['Reports']);

		function hide_divs() {
			['options', 'descriptions', 'templates'].each(function(id) {
					$('reports_' + id).select('div[id]').each(function(div) { div.hide(); });
			});
		}
	{% if perms.youpi.can_use_reporting %}
		$$('.report_format').each(function(r) {
			r.observe('click', function() {
				var sel = $('report_select');
				var opt = sel.options[sel.selectedIndex];
				var selvalue = opt.value;
				if (selvalue == '0') return false;
				var grp = opt.up();
				var type = grp != sel ? grp.id : 'global';
				format = this.readAttribute('value');
				$('report_form').action = '/youpi/report/generating/' + type + '/' + selvalue + '/' + format + '/';
				$('report_form').submit();
			});
		});

		$$('.report_reset').each(function(r) {
			r.observe('click', function() {
				$('report_form').reset();
				report_menu.invoke('hide');
				// Hide divs
				hide_divs();
			});
		});
	{% endif %}

		hide_divs();
		$('report_select').observe('change', function() {
			var id = this.options[this.selectedIndex].value;
	{% if perms.youpi.can_use_reporting %}
			this.selectedIndex == 0 ? report_menu.invoke('hide') : report_menu.invoke('show');
	{% endif %}
			// Hide divs
			hide_divs();
			['description', 'options', 'template'].each(function(name) {
				var divopt = $(id + '_' + name);
				if (divopt) divopt.slideDown({duration: 0.2});
			});
		});
	});
</script>
{% endblock %}
