{% extends "base_site.html" %}
{% load i18n %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/history.css"/>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript" src="/media/js/condorpanel.js"></script>
<script type="text/javascript">
// Global vars
var guistyle = '{{ user.get_profile.guistyle }}';
var condorPanel = new CondorPanel(null, 'condorPanel');

function update_condor_submission_log(resp, silent) {
	var silent = typeof silent == 'boolean' ? silent : false;
	var logdiv = document.getElementById('master_condor_log_div');
	var r = resp['result'];
	var log = new Logger(logdiv);
	log.clear();

	if (r['Error']) {
		log.msg_error(r['Error']);
		return false;
	}
	else if (r.NoData) {
		log.msg_ok(r.NoData);
		return false;
	}

	if (r['CondorError']) {
		var d = document.createElement('div');
		d.setAttribute('style', 'width: 50%;');
		d.setAttribute('class', 'warning');
		d.appendChild(document.createTextNode('Condor has returned a runtime error:'));
		var d2 = document.createElement('div');
		var pre = document.createElement('pre');
		pre.setAttribute('style', 'color: red; overflow: auto; text-align: left;');
		pre.appendChild(document.createTextNode(r['CondorError']));
		var tipd = document.createElement('div');
		tipd.innerHTML = 'If this is a parsing error in your Condor submission file, maybe ' +
			'the requirements you are using cause the error. In this case, you should have a look at the ' + 
			"<a href=\"/youpi/condor/setup/\">Condor Setup</a> page, check the <b>policies</b> and <b>selection" +
			'</b> your are using for this item submission.';

		d2.appendChild(pre);
		d.appendChild(d2);
		d.appendChild(tipd);
		logdiv.appendChild(d);
		return false;
	}

	if (!silent) {
		log.msg_ok('Done. Jobs successfully sent to the cluster.');
		var i = eval(r['ClusterIds']);
		for (var k=0; k < i.length; k++) {
			log.msg_ok(i[k]['count'] + ' job(s) submitted to cluster ' + i[k]['clusterId']);
		}
	}

	return true;
}

function removeItemFromCart(trid, force) {
	var silent = typeof force == 'boolean' ? force : false;
	if (!silent) {
		var r = confirm('Are you sure you want to delete this item from the cart?');
		if (!r) return;
	}

	var trNode = $(trid);
	var pluginName = trid.sub(/_\d+$/, '');
	var idx = trNode.previousSiblings().length - 1;

	// Ask for item deletion
	s_cart.deletePluginItem(
		{'plugin_name' : pluginName, 'idx' : idx},
		// Custom handler called when item deletion is complete
		function() {
			var table = trNode.up('table.shoppingCart');
			// Number of items left for that plugin
			var left = table.select('tr[id]').length;
			var n = left == 1 ? table : trNode;

			n.fade({ 
				delay: 1.0,
				afterFinish: function() { 
					n.remove(); 
					document.fire('shoppingCart:itemRemoved');
				}
			});
		}
	);
}

function showSavedItems() {
{% for plugin in plugins %}
	var z = null;
	try {
		z = {{ plugin.id }}.showSavedItems; 
	} catch(e) {
		// Not implemented in plugin
		var countNode = document.getElementById('plugin_{{ plugin.id }}_saved_count');
		countNode.innerHTML = '';
		countNode.appendChild(document.createTextNode('No item'));
		var content = document.getElementById('plugin_menuitem_sub_{{ plugin.id }}');
		content.innerHTML = 'Not implemented yet.';
	}

	if (z) z();
{% endfor %}
}

/*
 * Function: get_runtime_options
 * Returns per-item runtime options
 *
 * Called by used by {plugin}_run() functions
 *
 * Parameters:
 *  prefix_id - string: TR id that identifies a SC item uniquely
 *
 * Data Format:
 *  {reprocessValid: bool, itemPrefix: string, clusterPolicy: POST string}
 *
 * Returns:
 *  JSON object as described in Data Format
 *
 */ 
function get_runtime_options(prefix_id) {
	var options = {
		reprocessValid: false,
		itemPrefix: '',
		clusterPolicy: ''
	};

	options.reprocessValid = !document.getElementById(prefix_id + '_reprocess_successful_checkbox').checked;
	options.itemPrefix = document.getElementById(prefix_id + '_prefix_name_input').value.replace(/ /g, '');

	var post = "CondorSetup=";
	use_custom_config = document.getElementById(prefix_id + '_custom_radio').checked;
	// Add POST parameters depending on selected runtime options
	if (!use_custom_config) {
		// Use default Condor setup configuration
		post += "default";
	}
	else {
		// Use specified policy or selection
		var sel = document.getElementById(prefix_id + '_node_select');
		post += "custom";
		var opt = sel.options[sel.selectedIndex];
		if (opt.id.search(/pol_opt/) != -1)
			post += "&Policy=";
		else
			post += "&Selection=";
		post += opt.value;
	}

	options.clusterPolicy = post;
	return options;
}

{% for plugin in plugins %}
var {{ plugin.id }}_drop_box;
var {{ plugin.id }}_item_counter = 0;
{% endfor %}

function show_runtime_options(pid, container_id) {
	eval(pid + "_drop_box = new DropdownBox(container_id, 'Runtime Options');");
	var r = eval(pid + '_drop_box.getContentNode();');
	// Base id
	var id = pid + '_' + eval(pid + '_item_counter');
	
	// Checkbox
	var da = Builder.node('div', { className: 'rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('input', { id: id + '_reprocess_successful_checkbox',
								type: 'checkbox',
								checked: true }),
		Builder.node('label', 'Do not reprocess already successful processings')
	]);
	r.appendChild(da);

	// Item prefix name
	da = Builder.node('div', { className: 'rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('label', 'Item prefix name'),
		Builder.node('input', { id: id + '_prefix_name_input',
								type: 'text' })
	]);
	r.appendChild(da);

	// Cluster policy
	da = Builder.node('div', { className: 'cart_item_policy rndBox', style: 'margin-left: 0px;' }, [
		Builder.node('div', 'Cluster node policy'),
		Builder.node('div', [
			Builder.node('input', { id: id + '_default_radio',
									onclick: "toggle_node_policy_radio(this.id,'" + id + '_custom_radio' + 
												"','" + id + '_custom_div' + "');",
									type: 'radio',
									checked: true,
									name: id + '_node_policy' }),
			Builder.node('label', 'Use your default Condor setup configuration')
		]),
		Builder.node('div', [
			Builder.node('input', { id: id + '_custom_radio',
									onclick: "toggle_node_policy_radio('" + id + '_default_radio' + "',this.id,'" + 
												id + '_custom_div' + "');",
									type: 'radio',
									name: id + '_node_policy' }),
			Builder.node('label', 'Select a custom configuration for this processing')
		]),
		Builder.node('div', { id: id + '_custom_div', style: 'display: none;' }, [
			Builder.node('label', 'Select a policy or selection: '),
			Builder.node('select', { id: id + '_node_select' }, [
				Builder.node('option', { className: 'header', disabled: true }, 'Policies'),
	{% for pol in policies %}
				Builder.node('option', {className: 'policy', 
										id: id + '_pol_opt_{{ forloop.counter0 }}',
										{% if forloop.first %}selected: true{% endif %}}, 
										'{{ pol.label }}'),
	{% endfor %}
				Builder.node('option', { className: 'header', disabled: true }, 'Selections'),
	{% for sel in selections %}
				Builder.node('option', { className: 'selection', id: id + '_sel_opt_{{ forloop.counter0 }}' }, '{{ sel.label }}'),
	{% endfor %}
			])
		])
	]);

	r.appendChild(da);
	eval(pid + '_item_counter++');
}

function toggle_node_policy_radio(def_id, cus_id, cus_div_id) {
	var def = $(def_id);
	var cus = $(cus_id);
	var cusdiv = $(cus_div_id);

	cus.checked ? cusdiv.setStyle({paddingLeft: '20px'}).appear() : cusdiv.fade();
}

function proceed_cart() {
	alert('TODO...');
}

function buildShoppingCart() {
	console.log('Building SC');

}


{# Load custom plugin's javascript code if available #}
{% for plugin in plugins %}
	{% include plugin.jsSource %}
{% endfor %}

/*
 * Slots
 *
 */
// Menu handling
var menu;
document.observe('dom:loaded', function() {
	menu = new SubMenu('submenu', ['Cart items', 'Saved items']);
	menu.setOnClickHandler(1, function() {
		showSavedItems();
	});

	buildShoppingCart();
});

// A shopping cart item has just been removed
document.observe('shoppingCart:itemRemoved', function() {
	// Is the shopping cart empty?
	var container = menu.getContentNodeForCurrentEntry();
	if (!container.select('table.shoppingCart').length) {
		container.update();
		var d = new Element('div', {id: 'emptycart_div'}).setStyle({marginTop: '70px', padding: '5px'}).hide();
		d.update(new Element('h1').update('Your cart is currently empty'));
		container.insert(d);
		d.appear();
	}

	document.fire('notifier:notify', 'Item removed from the shopping cart');
});
</script>

{% endblock %}

<!-- Main body -->
{% block content %}

<div align="center">
<div style="text-align: center;">
	<div id="submenu">
		<div align="center" style="width: 100%" id="menuitem_sub_0">
			{# Cart items #}
			{% if cartHasData %}
			<div style="padding-top: 20px;">
			<div id="master_condor_log_div"></div>
			{% for plugin in plugins %}
				{% if plugin.hasItemsInCart %}
			<table width="50%" class="shoppingCart">
				<tr>
					<th>
						<img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/runall.gif" onclick="{{ plugin.id }}.runAll()"/>
					</th>
					<th colspan="2">{{ plugin.optionLabel }} ({{ plugin.description }}) related items</th>
				</tr>
					{% for data in plugin.getData %}
						{# Invoke custom template rendering #}
				<tr id="{{ plugin.id }}_{{ forloop.counter0 }}">
					<td style="text-align: right">
						<p style="text-align: right; font-size: 80%">Item <b>{{ plugin.itemPrefix }}{{ data.itemCounter }}</b> added on {{ data.date }}</p>
						<img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/delete.gif" onclick="removeItemFromCart('{{ plugin.id }}_{{ forloop.counter0 }}');"/>
					</td>
					<td width="100%" colspan="2">
						<div id="{{ plugin.id }}_options_div_{{ forloop.counter }}"></div>
						<script type="text/javascript">
							show_runtime_options('{{ plugin.id }}', '{{ plugin.id }}_options_div_{{ forloop.counter }}');
						</script>
						{% include plugin.itemCartTemplate %}
					</td>
				</tr>
					{% endfor %}
			</table>
				{% endif %}
			{% endfor %}
				<!--
				<tr>
					<td colspan="3" style="text-align: right; border: none">
						<img src="/media/themes/{{ user.get_profile.guistyle }}/img/misc/proceed.gif"/>
					</td>
				</tr>
				-->
			</div>
			{% else %}
			<div id="emptycart_div" style="margin-top: 70px; padding: 5px;">
				{# No data in cart ! #}
				<h1>Your cart is currently empty</h1>
			</div>
			{% endif %}
		</div>
		<div style="display: none" class="cartSavedItems" align="center" id="menuitem_sub_1">
			{# Saved items #}
			<p class="title">
				Please select a type of processing in order to display relevant saved items:
			</p>
			<div class="menu">
				<ul class="icon_smart_tabnav" id="saved_menu">
			{% for plugin in plugins %}
				{% if forloop.first %}
					<li class="enabled">
				{% else %}
					<li class="disabled">
				{% endif %}
						<a 	href="#" id="plugin_entry_{{ forloop.counter0 }}" 
							onclick="swap_display(this.id, 'plugin_menuitem_sub_{{ plugin.id }}', 'saved_menu', 'plugin_menuitem_sub_');">
							<div style="background: transparent url(/media/themes/{{ user.get_profile.guistyle }}/img/32x32/{{ plugin.id }}.png) center left no-repeat; padding-left: 30px;">
								{{ plugin.description }}
								<div id="plugin_{{ plugin.id }}_saved_count" class="count"></div>
							</div>
						</a>
					</li>
			{% endfor %}
				</ul>
			</div>
			{% for plugin in plugins %}
				{% if forloop.first %}
			<div class="content" align="center" id="plugin_menuitem_sub_{{ plugin.id }}">
				{% else %}
			<div clas="content" align="center" style="display: none;" id="plugin_menuitem_sub_{{ plugin.id }}">
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</div>
{% endblock %}
