{% extends "base_site.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/stylepicker.js"></script>
<script type="text/javascript" src="/media/js/tagwidget.js"></script>
<script type="text/javascript" src="/media/js/tagpanel.js"></script>
<script type="text/javascript" src="/media/js/imageinfowidget.js"></script>
<script type="text/javascript" src="/media/js/imageselector.js"></script>
<script type="text/javascript" src="/media/js/pageswitcher.js"></script>
<script type="text/javascript" src="/media/js/advancedtable.js"></script>

<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/lightbox2/css/lightbox.css"/>
<script type="text/javascript" src="/media/js/3rdParty/lightbox2/lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/modalbox/modalbox.css"/>
<script type="text/javascript" src="/media/js/3rdParty/modalbox/modalbox.js"></script>

<!-- Auto-completion code -->
<script type="text/javascript" src="/media/js/3rdParty/autoSuggest/bsn.AutoSuggest_c_2.0.js"></script>
<link rel="stylesheet" type="text/css" href="/media/js/3rdParty/autoSuggest/css/autosuggest_inquisitor.css"></script>

<!-- Menu handling -->
<link rel="stylesheet" type="text/css" href="/media/themes/{{ user.get_profile.guistyle }}/css/menu.css"/>
<script type="text/javascript" src="/media/js/menu.js"></script>
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}

{% block stylesheet %}/media/themes/{{ user.get_profile.guistyle }}/css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="submenu">
	<div id="menuitem_sub_0">
		<div align="center">
			<table style="width: 95%;">
				<tr>
					<td style="border: none; max-width: 30%">
						<div class="themes">
							<h1>Available Tags</h1>
							<div id="tagpanel-div"/>
						</div>
					</td>
					<td style="border: none; width: 70%;">
						<div class="themes">
							<h1>Select Images</h1>
							<div id="imgselector-div" style="width: 100%"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	var menu, panel;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Edit tags']);
		var ims = new ImageSelector('imgselector-div', {help: false, editing: false, dropzone: true});
		ims.setTableWidget(new AdvancedTable());

		panel = new TagPanel('tagpanel-div');
		document.observe('imageSelector:loaded', function() {
			panel.setDropZone(ims.getDropZone());
		});
	});
</script>
{% endblock %}
