{% extends "base_site.html" %}
{% load i18n %}
{% load compressed %}

{% block extrahead %}
{% compressed_js 'tags' %}
{% compressed_css 'tags' %}
<script type="text/javascript">
var guistyle = '{{ user.get_profile.guistyle }}';
</script>
{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="submenu">
	<div id="menuitem_sub_0">
		<div align="center">
			<table style="width: 95%;">
				<tr>
					<td style="border: none; max-width: 30%">
						<div class="themes">
							<h1>Available Tags</h1>
						{% if not perms.youpi.add_tag %}
							<div class="perm_not_granted" style="margin-top: 20px;">
								<label>You don't have permission to add tags</label>
							</div>
						{% endif %}
							<div id="tagpanel-div"/>
						</div>
					</td>
					<td style="border: none; width: 70%;">
						<div class="themes">
							<h1>Select Images</h1>
							<div id="imgselector-div" style="width: 100%"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	var menu, panel;
	document.observe('dom:loaded', function() {
		menu = new SubMenu('submenu', ['Edit tags']);
		var ims = new ImageSelector('imgselector-div', {help: false, editing: false, dropzone: true});
		ims.setTableWidget(new AdvancedTable());

		panel = new TagPanel('tagpanel-div', {canAddTag: {% if perms.youpi.add_tag %}true{% else %}false{% endif %}});
		document.observe('imageSelector:loaded', function() {
			panel.setDropZone(ims.getDropZone());
		});
	});
</script>
{% endblock %}
