{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Spica2 login page' %}{% endblock %}

{% block branding %}
	<div style="float: left"><img src="/media/default/img/misc/terapix_logo.png"/></div>
	<div style="text-align: right"><h1 id="site-name" style="font-variant: small-caps">Spica</h1></div>
	<div style="text-align: right; font-style: italic; font-size: 9px; color: brown; margin-right: 10px">Software For Pipeline CCD Analysis</div>
{% endblock %}

{% block nav-global %}{% endblock %}
