{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Spica2 site admin' %}{% endblock %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="/media/default/css/login.css" />{% endblock %}

{% block branding %}
	<div style="text-align: center"><h1 id="site-name" style="font-variant: small-caps">Spica Admin</h1></div>
	<div style="text-align: center; font-weight: bold; font-size: 9px; color: brown; margin-bottom: 5px; margin-right: 10px">Administration control panel</div>
{% endblock %}

{% block pretitle %}
{% endblock %}

{% block sidebar %}
	<div align="center" class="links">
        <br/>
		[ <a href="/youpi/">Access the Spica2 interface</a> ]
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}
