{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Youpi site admin' %}{% endblock %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="/media/default/css/login.css" />{% endblock %}

{% block branding %}
	<div style="font-weight: bold; font-size: 9px; color: brown; position: absolute; right: 5px; top: 88px;">Administration control panel</div>
{% endblock %}

{% block pretitle %}
{% endblock %}

{% block sidebar %}
	<div align="center" class="links">
        <br/>
		[ <a href="/youpi/">Back to the Youpi interface</a> ]
	</div>
{% endblock %}

{% block nav-global %}{% endblock %}
